<template>
	<div id="questionnaire">
		<div id="progression" v-if="indexQuestion > -1">
			{{ $t('question') }} {{ indexQuestion + 1 }} / {{ questions.length }}
		</div>
		<div id="progression" v-else-if="indexQuestion === -1 && description !=='' && Object.keys(support).length === 0">
			{{ $t('description') }}
		</div>
		<div id="progression" v-else-if="indexQuestion === -1 && description !=='' && Object.keys(support).length > 0">
			{{ $t('descriptionEtSupport') }}
		</div>

		<div id="support" v-if="indexQuestion > -1 && Object.keys(support).length > 0">
			<span class="bouton" role="button" tabindex="0" @click="afficherMedia">{{ $t('afficherSupport') }}</span>
		</div>

		<div id="description" v-if="description !== '' || Object.keys(support).length > 0" v-show="indexQuestion === -1">
			<div class="description" v-if="description !== ''">
				{{ description }}
			</div>
			<div class="support" v-if="Object.keys(support).length > 0">
				<img v-if="support.type === 'image'" :src="'/fichiers/' + code + '/' + support.fichier" :alt="support.alt" @click="afficherImage($event, '/fichiers/' + code + '/' + support.fichier)">
				<audio v-else-if="support.type === 'audio'" controls :src="'/fichiers/' + code + '/' + support.fichier" />
				<div class="video" v-else-if="support.type === 'video'">
					<iframe :src="support.lien" allowfullscreen />
				</div>
			</div>
		</div>

		<div id="questions">
			<transition-group name="fondu">
				<div class="q" v-for="(q, indexQ) in questions" v-show="indexQuestion === indexQ" :key="'q_' + indexQ">
					<div :id="'question' + indexQ">
						<div class="question-et-support" v-if="q.question !== '' && Object.keys(q.support).length > 0">
							<span class="question">{{ q.question }}</span>
							<span class="support" @click="afficherImage($event, '/fichiers/' + code + '/' + q.support.image)" :title="$t('afficherImage')"><img :src="'/fichiers/' + code + '/' + q.support.image" :alt="q.support.alt"></span>
						</div>
						<div class="question" v-else-if="q.question !== ''">
							{{ q.question }}
						</div>
						<div class="support" v-else-if="Object.keys(q.support).length > 0">
							<img :src="'/fichiers/' + code + '/' + q.support.image" :alt="q.support.alt" @click="afficherImage($event, '/fichiers/' + code + '/' + q.support.image)" :title="$t('afficherImage')">
						</div>
					</div>

					<div :id="'items' + indexQ" class="items">
						<template v-for="(item, index) in q.items">
							<label :id="'item' + indexQ + '_' + index" class="item" :class="{'desactive': reponseEnvoyee[indexQ] === 'reponse-envoyee', 'correct': options.reponses === true && item.reponse === true && reponseEnvoyee[indexQ] === 'reponse-envoyee'}" v-if="item.texte !== '' || item.image !== ''" :key="'item_' + indexQ + '_' + index">
								<span class="icone material-icons" v-if="q.option === 'choix-unique' && !reponse[indexQ].includes(item.texte) && !reponse[indexQ].includes(item.image)">radio_button_unchecked</span>
								<span class="icone material-icons" v-else-if="q.option === 'choix-multiples' && !reponse[indexQ].includes(item.texte) && !reponse[indexQ].includes(item.image)">check_box_outline_blank</span>
								<span class="icone material-icons" v-else-if="q.option === 'choix-unique' && (reponse[indexQ].includes(item.texte) || reponse[indexQ].includes(item.image))">radio_button_checked</span>
								<span class="icone material-icons" v-else-if="q.option === 'choix-multiples' && (reponse[indexQ].includes(item.texte) || reponse[indexQ].includes(item.image))">check_box</span>
								<span class="image" v-if="item.image !== ''" @click="afficherImage($event, '/fichiers/' + code + '/' + item.image)" :title="$t('afficherImage')"><img :src="'/fichiers/' + code + '/' + item.image" :alt="item.alt"></span>
								<span class="texte" v-if="item.texte !== ''">{{ item.texte }}</span>
								<input type="radio" name="item" :value="item.texte" @change="definirReponse($event, indexQ)" :disabled="reponseEnvoyee[indexQ] === 'reponse-envoyee'" style="display: none;" v-if="q.option === 'choix-unique' && item.texte !== ''">
								<input type="checkbox" name="item" :value="item.texte" @change="definirReponse($event, indexQ)" :disabled="reponseEnvoyee[indexQ] === 'reponse-envoyee'" style="display: none;" v-else-if="q.option === 'choix-multiples' && item.texte !== ''">
								<input type="radio" name="item" :value="item.image" @change="definirReponse($event, indexQ)" :disabled="reponseEnvoyee[indexQ] === 'reponse-envoyee'" style="display: none;" v-else-if="q.option === 'choix-unique' && item.image !== ''">
								<input type="checkbox" name="item" :value="item.image" @change="definirReponse($event, indexQ)" :disabled="reponseEnvoyee[indexQ] === 'reponse-envoyee'" style="display: none;" v-else-if="q.option === 'choix-multiples' && item.image !== ''">
							</label>
						</template>
					</div>

					<div class="actions" v-if="options.progression === 'libre'">
						<span class="bouton bouton-reponse" :class="{'desactive': reponse[indexQ].length === 0}" role="button" tabindex="0" @click="envoyerReponse(indexQ)" v-if="reponseEnvoyee[indexQ] !== 'reponse-envoyee'">{{ $t('envoyer') }}</span>
						<span class="reponse" v-else>{{ $t('reponseEnvoyee') }}</span>
						<span class="bouton" role="button" tabindex="0" @click="modifierIndexQuestion" v-if="reponseEnvoyee[indexQ] === 'reponse-envoyee' && reponse[indexQ + 1] && reponse[indexQ + 1].length === 0">{{ $t('questionSuivante') }}</span>
					</div>
				</div>
			</transition-group>
		</div>

		<div class="conteneur-modale" v-if="modale === 'image'">
			<div id="modale-image" class="modale">
				<div class="conteneur">
					<div class="contenu">
						<img :src="image" :alt="$t('image')">
						<div class="actions">
							<span class="bouton" role="button" tabindex="0" @click="fermerModaleImage">{{ $t('fermer') }}</span>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="conteneur-modale" v-else-if="modale === 'media'">
			<div id="modale-media" class="modale">
				<div class="conteneur">
					<div class="contenu">
						<img v-if="support.type === 'image'" :src="'/fichiers/' + code + '/' + support.fichier" :alt="$t('image')">
						<audio v-else-if="support.type === 'audio'" controls :src="'/fichiers/' + code + '/' + support.fichier" />
						<div class="video" v-else-if="support.type === 'video'">
							<iframe :src="support.lien" allowfullscreen />
						</div>
						<div class="actions">
							<span class="bouton" role="button" tabindex="0" @click="fermerModale">{{ $t('fermer') }}</span>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="conteneur-modale" v-else-if="modale === 'classement'">
			<div id="modale-classement" class="modale">
				<header>
					<span class="titre">{{ $t('classement') }}</span>
					<span class="fermer" role="button" @click="fermerModale"><i class="material-icons">close</i></span>
				</header>
				<div class="conteneur">
					<div class="contenu">
						<ul class="classement">
							<li v-for="(utilisateur, index) in classement" :key="'utilisateur_' + index">
								<div class="utilisateur">
									<span class="index">{{ index + 1 }}</span>
									<span class="nom">{{ utilisateur.nom }}</span>
								</div>
								<div class="score">{{ utilisateur.score }}</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
/* eslint-disable no-extend-native */
Array.prototype.equals = function (array, strict) {
	if (!array) { return false }
	if (arguments.length === 1) { strict = true }
	if (this.length !== array.length) { return false }
	for (let i = 0; i < this.length; i++) {
		if (Array.isArray(this[i]) && Array.isArray(array[i])) {
			if (!this[i].equals(array[i], strict)) { return false }
		} else if (strict && this[i] !== array[i]) {
			return false
		} else if (!strict) {
			return this.sort().equals(array.sort(), true)
		}
	}
	return true
}

export default {
	name: 'QuestionnaireParticiper',
	props: {
		code: String,
		donnees: Object,
		reponses: Array,
		statut: String,
		session: Number,
		indexQuestion: Number,
		date: Number,
		validation: String,
		reponseEnvoyee: Array,
		classement: Array
	},
	data () {
		return {
			description: '',
			support: {},
			options: {},
			questions: [],
			reponse: [],
			score: [],
			modale: '',
			image: ''
		}
	},
	computed: {
		hote () {
			return this.$store.state.hote
		},
		identifiant () {
			return this.$store.state.identifiant
		},
		nom () {
			return this.$store.state.nom
		}
	},
	watch: {
		validation: function (valeur) {
			if (this.options.progression === 'animateur') {
				if (valeur === 'validation') {
					this.score[this.indexQuestion] = this.definirScore(this.indexQuestion)
					this.$emit('validation', { reponse: this.reponse, score: this.score, identifiant: this.identifiant, nom: this.nom })
				}
			}
		},
		classement: function (classement) {
			if (classement.length === 0 && this.modale === 'classement') {
				this.modale = ''
			} else if (classement.length > 0) {
				this.modale = 'classement'
			}
		}
	},
	created () {
		this.description = this.donnees.description
		this.support = this.donnees.support
		this.options = this.donnees.options
		this.questions = this.donnees.questions
		this.reponses.forEach(function (item) {
			if (item.identifiant === this.identifiant) {
				this.reponse = item.reponse
				this.score = item.score
			}
		}.bind(this))
		if (this.reponse.length === 0) {
			this.questions.forEach(function () {
				this.reponse.push([])
				this.score.push(0)
			}.bind(this))
		}
	},
	methods: {
		definirReponse (event, indexQuestion) {
			if (this.questions[indexQuestion].option === 'choix-unique') {
				if (this.reponse[indexQuestion].length > 0) {
					this.reponse[indexQuestion].splice(0, 1)
				}
				this.reponse[indexQuestion].push(event.target.value)
			} else if (this.questions[indexQuestion].option === 'choix-multiples') {
				if (event.target.checked === true) {
					this.reponse[indexQuestion].push(event.target.value)
				} else {
					const index = this.reponse[indexQuestion].indexOf(event.target.value)
					this.reponse[indexQuestion].splice(index, 1)
				}
			}
		},
		definirScore (indexQuestion) {
			const reponseCorrecte = []
			this.questions[indexQuestion].items.forEach(function (item) {
				if (item.reponse === true && item.texte !== '') {
					reponseCorrecte.push(item.texte)
				} else if (item.reponse === true && item.image !== '') {
					reponseCorrecte.push(item.image)
				}
			})
			if (this.reponse[indexQuestion].equals(reponseCorrecte)) {
				if (this.options.progression === 'libre') {
					return 1000
				} else {
					const temps = Math.abs((new Date().getTime() - this.date) / 1000)
					const score = Math.round(1000 - (temps * 10))
					if (score > 0) {
						return score
					} else {
						return 0
					}
				}
			} else {
				/* const bonnesReponses = []
				const mauvaisesReponses = []
				this.questions[indexQuestion].items.forEach(function (item) {
					if (item.reponse === true && (this.reponse[indexQuestion].includes(item.texte) || this.reponse[indexQuestion].includes(item.image))) {
						bonnesReponses.push(item)
					} else if (item.reponse === false && (this.reponse[indexQuestion].includes(item.texte) || this.reponse[indexQuestion].includes(item.image))) {
						mauvaisesReponses.push(item)
					}
				}.bind(this))
				if ((bonnesReponses.length - mauvaisesReponses.length) > 0) {
					if (this.options.progression === 'libre') {
						return ((1000 / reponseCorrecte.length) * (bonnesReponses.length - mauvaisesReponses.length))
					} else {
						const score = Math.round(1000 - (temps * 10))
						return ((score / reponseCorrecte.length) * (bonnesReponses.length - mauvaisesReponses.length))
					}
				} else {
					return 0
				} */
				return 0
			}
		},
		modifierIndexQuestion () {
			this.$emit('index')
		},
		envoyerReponse (indexQuestion) {
			if (this.reponse[indexQuestion].length > 0 && this.reponseEnvoyee[indexQuestion] !== 'reponse-envoyee') {
				this.score[indexQuestion] = this.definirScore(indexQuestion)
				this.$emit('validation', { reponse: this.reponse, score: this.score, identifiant: this.identifiant, nom: this.nom })
			}
		},
		afficherMedia () {
			this.modale = 'media'
		},
		fermerModale () {
			this.modale = ''
		},
		afficherImage (event, image) {
			event.preventDefault()
			event.stopPropagation()
			this.image = image
			this.modale = 'image'
		},
		fermerModaleImage () {
			this.modale = ''
			this.image = ''
		}
	}
}
</script>

<style scoped>
#questionnaire {
	width: 100%;
	max-width: 1024px;
	padding: 0 20px;
	margin: 40px auto 20px;
}

#progression {
	padding-bottom: 15px;
	border-bottom: 1px solid #ddd;
	font-weight: 700;
}

#progression + #support {
	margin-top: 10px;
}

#progression + #description {
	margin-top: 40px;
}

#support {
	text-align: right;
}

#support span {
	font-size: 14px;
	color: #00ced1;
	cursor: pointer;
}

#description .description,
#questions .question {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2.7rem;
	line-height: 1.25;
}

#description .description {
	font-weight: 400;
}

#questions {
	margin-top: 40px;
}

#questions .question {
	font-weight: 700;
}

#description .description + .support {
	margin-top: 40px;
}

#description .support img {
	max-width: 100%;
	max-height: 30rem;
	border-radius: 5px;
	cursor: zoom-in;
}

#description .support audio{
	width: 100%;
}

#description .support .video {
    position: relative;
	width: 100%;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
}

#description .support .video iframe {
    position: absolute;
    top: 0;
    left: 0;
	bottom: 0;
	right: 0;
    width: 100%;
    height: 100%;
}

#questions .question-et-support {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#questions .question-et-support .question {
	width: calc(100% - (10rem + 20px));
}

#questions .question-et-support .support {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 0;
	width: 10rem;
	height: 10rem;
	margin-left: 20px;
	cursor: zoom-in;
}

#questions .question-et-support .support img {
	max-width: 10rem;
	max-height: 10rem;
	border-radius: 5px;
}

#description .support,
#questions .support {
	text-align: center;
}

#questions .support img {
	max-width: 100%;
	max-height: 20rem;
	border-radius: 5px;
	cursor: zoom-in;
}

#questions .items {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	width: 100%;
	margin-top: 40px;
}

#questions .items .item {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	border: 1px solid #ddd;
	padding: 15px 20px;
	border-radius: 1em;
	margin: 0 0 20px;
	width: 100%;
	cursor: pointer;
	transition: background-color ease-in 0.1s;
}

#questions .bouton.desactive,
#questions .items .item.desactive {
	cursor: default;
}

#questions .items .item:not(.desactive):hover {
	background: #f3f5f8;
}

#questions .items .item.correct {
	background: #d5eee1;
	border-color: #00a695;
	box-shadow: 0 0 0 1px #00a695;
}

#questions .items .item .icone {
	margin-right: 20px;
	font-size: 24px;
}

#questions .items .item .image {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 0;
	width: 10rem;
	height: 10rem;
	margin-right: 20px;
	cursor: zoom-in;
}

#questions .items .item .image img {
	max-width: 10rem;
	max-height: 10rem;
	border-radius: 5px;
}

#questions .items .item .texte {
	font-size: 2.3rem;
	font-weight: 400;
	line-height: 1.25;
}

#questions .items .item .icone + .texte {
	width: calc(100% - 44px);
}

#questions .items .item .image + .texte {
	width: calc(100% - (10rem + 64px));
}

#questions .actions {
	text-align: center;
	margin-top: 20px;
}

#questions .actions .bouton {
	display: inline-block;
	font-weight: 700;
	font-size: 18px;
	text-transform: uppercase;
	height: 40px;
	line-height: 40px;
	padding: 0 50px;
	cursor: pointer;
	color: #fff;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
	background: #00ced1;
	border-radius: 2em;
	letter-spacing: 1px;
	text-indent: 1px;
	transition: background-color 0.1s ease-in;
}

#questions .actions .bouton:hover {
	background: #00acb0;
}

#questions .actions .bouton-reponse {
	background: #009688;
}

#questions .actions .bouton-reponse.desactive {
	background: #aaa;
}

#questions .actions .bouton-reponse:not(.desactive):hover {
	background: #00a695;
}

#questions .actions .reponse {
	display: block;
    font-size: 2rem;
    font-weight: 700;
    color: #00ced1;
	line-height: 1;
}

#questions .actions .reponse + .bouton {
	margin-top: 40px;
}

#modale-media img,
#modale-image img {
	max-height: calc(90vh - 100px);
}
</style>
