<template>
	<div id="questionnaire" :class="{'avec-actions': options.progression === 'animateur'}">
		<div id="attente" v-if="statut === 'attente'">
			<h2>{{ $t('questionnaireEnAttenteDemarrage') }}</h2>
			<div class="info-attente" v-html="$t('infoQuestionnaireEnAttenteDemarrage')" />
			<div class="points">
				<span class="point" />
				<span class="point" />
				<span class="point" />
			</div>
			<h2 v-if="options.nom === 'obligatoire'">{{ $t('listeParticipants') }}</h2>
			<div class="utilisateurs-connectes" v-if="options.nom === 'obligatoire'">
				<div class="utilisateur" v-for="(utilisateur, indexUtilisateur) in utilisateurs" :key="'utilisateur_' + indexUtilisateur">
					<span>{{ utilisateur.nom }}</span>
				</div>
			</div>
		</div>

		<div id="tableau" v-if="statut === 'ouvert' && (options.progression === 'libre' || tableauResultats === true)">
			<h2>{{ $t('tableauResultats') }}</h2>
			<table>
				<thead>
					<tr>
						<td class="utilisateurs">
							<span role="button" tabindex="0" @click="cacherNoms" v-if="options.nom === 'obligatoire' && nomsVisible">{{ $t('cacherNoms') }}</span>
							<span role="button" tabindex="0" @click="afficherNoms" v-else-if="options.nom === 'obligatoire' && !nomsVisible">{{ $t('afficherNoms') }}</span>
							<select v-model="triTableau">
								<option value="nom">{{ $t('nomOuPseudo') }}</option>
								<option value="score">{{ $t('score') }}</option>
								<option value="progression">{{ $t('progression') }}</option>
							</select>
						</td>
						<td class="score">
							<span>{{ $t('points') }}</span>
						</td>
						<td class="question" @click="afficherSupport" v-if="description !== '' || Object.keys(support).length > 0">
							<span class="index">0</span>
							<span class="type">
								<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="#00ced1" width="24" height="24"><path d="M0 0h24v24H0z" fill="none" /><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-6h2v6zm0-8h-2V7h2v2z" /></svg>
							</span>
						</td>
						<td class="question" v-for="(q, indexQ) in questions" @click="afficherQuestion(q, indexQ)" :key="'question_' + indexQ">
							<span class="index">{{ indexQ + 1 }}</span>
							<span class="type" v-if="q.option === 'choix-unique'">
								<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 32 32"><path fill="#00ced1" d="M1.333 30.667h29.333V1.334H1.333v29.333zM0 0h32v32H0V0z" /><path fill="#00ced1" d="M5.333 8A2.66 2.66 0 018 5.333 2.66 2.66 0 0110.667 8 2.66 2.66 0 018 10.667 2.66 2.66 0 015.333 8zm1.334 8c0 .742.593 1.333 1.333 1.333.742 0 1.333-.593 1.333-1.333 0-.742-.593-1.333-1.333-1.333-.742 0-1.333.593-1.333 1.333zm-1.334 0A2.66 2.66 0 018 13.333 2.66 2.66 0 0110.667 16 2.66 2.66 0 018 18.667 2.66 2.66 0 015.333 16zm1.334 8c0 .742.593 1.333 1.333 1.333.742 0 1.333-.593 1.333-1.333 0-.742-.593-1.333-1.333-1.333-.742 0-1.333.593-1.333 1.333zm-1.334 0A2.66 2.66 0 018 21.333 2.66 2.66 0 0110.667 24 2.66 2.66 0 018 26.667 2.66 2.66 0 015.333 24zm8-14.667h13.333V6.666H13.333zm0 8h13.333v-2.667H13.333zm0 8h13.333v-2.667H13.333z" /></svg>
							</span>
							<span class="type" v-else>
								<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 32 32"><path fill="#00ced1" d="M1.333 30.667h29.333V1.334H1.333v29.333zM0 0h32v32H0V0z" /><path fill="#00ced1" d="M13.333 9.333h13.333V6.666H13.333zm0 8h13.333v-2.667H13.333zm0 8h13.333v-2.667H13.333zM6.667 6.667v2.667h2.667V6.667H6.667zM5.333 5.333h5.333v5.333H5.333V5.333zm0 8h5.333v5.333H5.333zm0 8h5.333v5.333H5.333z" /></svg>
							</span>
						</td>
					</tr>
				</thead>
				<tbody>
					<tr v-for="(u, indexU) in utilisateursTableau" :key="'utilisateur_' + indexU">
						<td class="utilisateur">
							<span class="nom" v-if="options.nom === 'obligatoire' && nomsVisible">{{ u.nom }}</span>
							<span class="masque" v-else-if="options.nom === 'obligatoire' && !nomsVisible" />
							<span class="nom" v-else>{{ $t('participant') }} {{ indexU + 1 }}</span>
						</td>
						<td class="score">
							{{ definirScore(u.identifiant) }}
						</td>
						<td class="question" v-if="description !== '' || Object.keys(support).length > 0">
							<span>-</span>
						</td>
						<td class="question" :class="{'correct': definirReponseQuestion(u.identifiant, indexQ).bonneReponse === true, 'incorrect': definirReponseQuestion(u.identifiant, indexQ).bonneReponse === false && definirReponseQuestion(u.identifiant, indexQ).reponses > 0}" v-for="(q, indexQ) in questions" :key="'question_' + indexQ">
							<span v-if="definirReponseQuestion(u.identifiant, indexQ).bonneReponse === true"><i class="material-icons">done</i></span>
							<span v-else-if="definirReponseQuestion(u.identifiant, indexQ).bonneReponse === false && definirReponseQuestion(u.identifiant, indexQ).reponses > 0"><i class="material-icons">close</i></span>
							<span v-else>-</span>
						</td>
					</tr>
				</tbody>
			</table>
		</div>

		<div class="questionnaire" v-else-if="statut === 'ouvert' && options.progression === 'animateur'">
			<div id="progression" v-if="indexQuestion > -1">
				{{ $t('question') }} {{ indexQuestion + 1 }} / {{ questions.length }}
			</div>
			<div id="progression" v-else-if="indexQuestion === -1 && description !=='' && Object.keys(support).length === 0">
				{{ $t('description') }}
			</div>
			<div id="progression" v-else-if="indexQuestion === -1 && description ==='' && Object.keys(support).length > 0">
				{{ $t('support') }}
			</div>
			<div id="progression" v-else-if="indexQuestion === -1 && description !=='' && Object.keys(support).length > 0">
				{{ $t('descriptionEtSupport') }}
			</div>

			<div id="support" v-if="indexQuestion > -1 && Object.keys(support).length > 0">
				<span class="bouton" role="button" tabindex="0" @click="afficherMedia">{{ $t('afficherSupport') }}</span>
			</div>

			<div id="description" v-if="description !== '' || Object.keys(support).length > 0" v-show="indexQuestion === -1">
				<div class="description" v-if="description !== ''">
					{{ description }}
				</div>
				<div class="support" v-if="Object.keys(support).length > 0">
					<img v-if="support.type === 'image'" :src="'/fichiers/' + code + '/' + support.fichier" :alt="support.alt" @click="afficherImage($event, '/fichiers/' + code + '/' + support.fichier)">
					<audio v-else-if="support.type === 'audio'" controls :src="'/fichiers/' + code + '/' + support.fichier" />
					<div class="video" v-else-if="support.type === 'video'">
						<iframe :src="support.lien" allowfullscreen />
					</div>
				</div>
			</div>

			<div id="questions">
				<transition-group name="fondu">
					<div class="q" v-for="(q, indexQ) in questions" v-show="indexQuestion === indexQ" :key="'q_' + indexQ">
						<div :id="'question' + indexQ">
							<div class="question-et-support" v-if="q.question !== '' && Object.keys(q.support).length > 0">
								<span class="question">{{ q.question }}</span>
								<span class="support" @click="afficherImage($event, '/fichiers/' + code + '/' + q.support.image)" :title="$t('afficherImage')"><img :src="'/fichiers/' + code + '/' + q.support.image" :alt="q.support.alt"></span>
							</div>
							<div class="question" v-else-if="q.question !== ''">
								{{ q.question }}
							</div>
							<div class="support" v-else-if="Object.keys(q.support).length > 0">
								<img :src="'/fichiers/' + code + '/' + q.support.image" :alt="q.support.alt" @click="afficherImage($event, '/fichiers/' + code + '/' + q.support.image)" :title="$t('afficherImage')">
							</div>
						</div>

						<div :id="'items' + indexQ" class="items resultats" v-if="resultats">
							<template v-for="(item, index) in q.items">
								<div :id="'item' + indexQ + '_' + index" class="item" :class="{'reponse': statistiques[indexQ].pourcentages[index] > 0, 'correct': reponseVisible && item.reponse}" v-if="item.texte !== '' || item.image !== ''" :key="'item_' + indexQ + '_' + index">
									<div class="progression" :style="{'width': statistiques[indexQ].pourcentages[index] + '%'}" />
									<div class="contenu">
										<span class="index">{{ alphabet[index].toUpperCase() }}</span>
										<span class="image" @click="afficherImage($event, '/fichiers/' + code + '/' + item.image)" v-if="item.image !== ''"><img :src="'/fichiers/' + code + '/' + item.image" :alt="item.alt"></span>
										<span class="texte" v-if="item.texte !== ''">{{ item.texte }}</span>
									</div>
									<div class="statistiques">
										<span class="personnes">{{ statistiques[indexQ].personnes[index] }} <i class="material-icons">person</i></span>
										<span class="pourcentages">{{ statistiques[indexQ].pourcentages[index] }}%</span>
									</div>
								</div>
							</template>
						</div>
						<div :id="'items' + indexQ" class="items" v-else>
							<div :id="'item' + indexQ + '_' + index" class="item" v-for="(item, index) in q.items" :class="{'correct': reponseVisible && item.reponse}" :key="'item_' + indexQ + '_' + index">
								<span class="index">{{ alphabet[index].toUpperCase() }}</span>
								<span class="image" @click="afficherImage($event, '/fichiers/' + code + '/' + item.image)" v-if="item.image !== ''"><img :src="'/fichiers/' + code + '/' + item.image" :alt="item.alt"></span>
								<span class="texte" v-if="item.texte !== ''">{{ item.texte }}</span>
							</div>
						</div>
					</div>
				</transition-group>
			</div>
		</div>

		<div id="actions" v-if="options.progression === 'animateur'">
			<div class="section">
				<span class="bouton" role="button" tabindex="0" @click="$emit('demarrer')" v-if="statut === 'attente'">{{ $t('demarrerQuestionnaire') }}</span>
				<span class="bouton icone" role="button" :title="$t('afficherReponse')" @click="afficherReponse" v-if="statut === 'ouvert' && indexQuestion > -1 && !reponseVisible && !tableauResultats"><i class="material-icons">visibility</i></span>
				<span class="bouton icone" role="button" :title="$t('masquerReponse')" @click="afficherReponse" v-else-if="statut === 'ouvert' && indexQuestion > -1 && reponseVisible && !tableauResultats"><i class="material-icons">visibility_off</i></span>
				<span class="bouton" role="button" tabindex="0" @click="modifierIndexQuestion" v-if="statut === 'ouvert' && indexQuestion === -1 && donnees.options.classement === true">{{ $t('suivant') }}</span>
				<span class="bouton" role="button" tabindex="0" @click="modifierIndexQuestion" v-else-if="statut === 'ouvert' && indexQuestion < (questions.length - 1) && donnees.options.classement === false">{{ $t('suivant') }}</span>
				<span class="bouton" role="button" tabindex="0" @click="afficherClassement" v-else-if="statut === 'ouvert' && indexQuestion < (questions.length - 1) && donnees.options.classement === true">{{ $t('suivant') }}</span>
				<span class="bouton" role="button" tabindex="0" @click="afficherClassement" v-else-if="statut === 'ouvert' && indexQuestion === (questions.length - 1) && donnees.options.classement === true">{{ $t('podium') }}</span>
				<span class="bouton" role="button" tabindex="0" @click="afficherResultats" v-if="statut === 'ouvert' && indexQuestion === (questions.length - 1)">{{ $t('tableauResultats') }}</span>
			</div>
		</div>

		<div class="conteneur-modale" v-if="modaleQuestion">
			<div id="modale-question" class="modale">
				<header>
					<span class="titre" v-if="indexQuestionTableau === -1 && description !== '' && Object.keys(support).length === 0">{{ $t('description') }}</span>
					<span class="titre" v-else-if="indexQuestionTableau === -1 && description === '' && Object.keys(support).length > 0">{{ $t('support') }}</span>
					<span class="titre" v-else-if="indexQuestionTableau === -1 && description !== '' && Object.keys(support).length > 0">{{ $t('descriptionEtSupport') }}</span>
					<span class="titre" v-else>{{ $t('question') }} {{ indexQuestionTableau + 1 }}</span>
					<span class="fermer" role="button" @click="fermerModaleQuestion"><i class="material-icons">close</i></span>
				</header>
				<div class="conteneur">
					<div class="contenu" v-if="donneesQuestion.type === 'question'">
						<div id="question">
							<div class="question-et-support" v-if="donneesQuestion.question !== '' && Object.keys(donneesQuestion.support).length > 0">
								<span class="question">{{ donneesQuestion.question }}</span>
								<span class="support" @click="afficherImage($event, '/fichiers/' + code + '/' + donneesQuestion.support.image)" :title="$t('afficherImage')"><img :src="'/fichiers/' + code + '/' + donneesQuestion.support.image" :alt="donneesQuestion.support.alt"></span>
							</div>
							<div class="question" v-else-if="donneesQuestion.question !== ''">
								{{ donneesQuestion.question }}
							</div>
							<div class="support" v-else-if="Object.keys(donneesQuestion.support).length > 0">
								<img :src="'/fichiers/' + code + '/' + donneesQuestion.support.image" :alt="donneesQuestion.support.alt" @click="afficherImage($event, '/fichiers/' + code + '/' + donneesQuestion.support.image)" :title="$t('afficherImage')">
							</div>
						</div>

						<div id="items" class="items">
							<div :id="'item' + '_' + index" class="item" v-for="(item, index) in donneesQuestion.items" :class="{'correct': reponseVisibleModale && item.reponse}" :key="'item_' + index">
								<span class="index">{{ alphabet[index].toUpperCase() }}</span>
								<span class="image" @click="afficherImage($event, '/fichiers/' + code + '/' + item.image)" v-if="item.image !== ''"><img :src="'/fichiers/' + code + '/' + item.image" :alt="item.alt"></span>
								<span class="texte" v-if="item.texte !== ''">{{ item.texte }}</span>
							</div>
						</div>
					</div>
					<div class="contenu" v-else>
						<div id="description">
							<div class="description" v-if="description !== ''">
								{{ description }}
							</div>
							<div class="support" v-if="Object.keys(support).length > 0">
								<img v-if="support.type === 'image'" :src="'/fichiers/' + code + '/' + support.fichier" :alt="support.alt" @click="afficherImage($event, '/fichiers/' + code + '/' + support.fichier)">
								<audio v-else-if="support.type === 'audio'" controls :src="'/fichiers/' + code + '/' + support.fichier" />
								<div class="video" v-else-if="support.type === 'video'">
									<iframe :src="support.lien" allowfullscreen />
								</div>
							</div>
						</div>
					</div>
				</div>
				<footer class="footer">
					<span class="bouton icone" :class="{'invisible': (indexQuestionTableau === -1 && (description !== '' || Object.keys(support).length > 0)) || (indexQuestionTableau === 0 && description === '' && Object.keys(support).length === 0)}" role="button" :title="$t('questionPrecedente')" @click="modifierIndexQuestionTableau('precedente')"><i class="material-icons">arrow_back</i></span>
					<span class="bouton icone" role="button" :title="$t('afficherReponse')" @click="reponseVisibleModale = true" v-if="!reponseVisibleModale && indexQuestionTableau > -1"><i class="material-icons">visibility</i></span>
					<span class="bouton icone" role="button" :title="$t('masquerReponse')" @click="reponseVisibleModale = false" v-else-if="reponseVisibleModale && indexQuestionTableau > -1"><i class="material-icons">visibility_off</i></span>
					<span class="bouton icone" :class="{'invisible': indexQuestionTableau === (donnees.questions.length - 1)}" role="button" :title="$t('questionSuivante')" @click="modifierIndexQuestionTableau('suivante')"><i class="material-icons">arrow_forward</i></span>
				</footer>
			</div>
		</div>

		<div class="conteneur-modale" v-if="modale === 'image'">
			<div id="modale-image" class="modale">
				<div class="conteneur">
					<div class="contenu">
						<img :src="image" :alt="$t('image')">
						<div class="actions">
							<span class="bouton" role="button" tabindex="0" @click="fermerModaleImage">{{ $t('fermer') }}</span>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="conteneur-modale" v-else-if="modale === 'media'">
			<div id="modale-media" class="modale">
				<div class="conteneur">
					<div class="contenu">
						<img v-if="support.type === 'image'" :src="'/fichiers/' + code + '/' + support.fichier" :alt="$t('image')">
						<audio v-else-if="support.type === 'audio'" controls :src="'/fichiers/' + code + '/' + support.fichier" />
						<div class="video" v-else-if="support.type === 'video'">
							<iframe :src="support.lien" allowfullscreen />
						</div>
						<div class="actions">
							<span class="bouton" role="button" tabindex="0" @click="fermerModaleMedia">{{ $t('fermer') }}</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
/* eslint-disable no-extend-native */
Array.prototype.equals = function (array, strict) {
	if (!array) { return false }
	if (arguments.length === 1) { strict = true }
	if (this.length !== array.length) { return false }
	for (let i = 0; i < this.length; i++) {
		if (Array.isArray(this[i]) && Array.isArray(array[i])) {
			if (!this[i].equals(array[i], strict)) { return false }
		} else if (strict && this[i] !== array[i]) {
			return false
		} else if (!strict) {
			return this.sort().equals(array.sort(), true)
		}
	}
	return true
}

export default {
	name: 'QuestionnaireAfficher',
	props: {
		code: String,
		donnees: Object,
		reponses: Array,
		statut: String,
		resultats: Boolean,
		utilisateurs: Array,
		classement: Array,
		indexQuestion: Number
	},
	data () {
		return {
			description: '',
			support: {},
			options: {},
			questions: [],
			reponseVisible: false,
			tableauResultats: false,
			modale: '',
			image: '',
			alphabet: ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z'],
			modaleQuestion: false,
			donneesQuestion: {},
			indexQuestionTableau: -1,
			reponseVisibleModale: false,
			triTableau: 'nom',
			nomsVisible: true
		}
	},
	computed: {
		hote () {
			return this.$store.state.hote
		},
		utilisateursTableau () {
			let utilisateurs = []
			if (this.options.modalite === 'synchrone') {
				utilisateurs = JSON.parse(JSON.stringify(this.utilisateurs))
			} else {
				this.reponses.forEach(function (reponse) {
					utilisateurs.push({ identifiant: reponse.identifiant, nom: reponse.nom })
				})
			}
			if (this.triTableau === 'score') {
				utilisateurs.forEach(function (utilisateur, index) {
					this.classement.forEach(function (u) {
						if (u.identifiant === utilisateur.identifiant) {
							utilisateurs[index].score = u.score
						}
					})
				}.bind(this))
				utilisateurs.forEach(function (utilisateur, index) {
					if (!utilisateur.score) {
						utilisateurs[index].score = 0
					}
				})
				utilisateurs.sort(function (a, b) {
					return b.score - a.score
				})
			} else if (this.triTableau === 'progression') {
				utilisateurs.forEach(function (utilisateur, index) {
					this.reponses.forEach(function (item) {
						if (item.identifiant === utilisateur.identifiant) {
							let reponses = 0
							item.reponse.forEach(function (reponse) {
								if (reponse.length > 0) {
									reponses++
								}
							})
							utilisateurs[index].reponses = reponses
						}
					})
				}.bind(this))
				utilisateurs.forEach(function (utilisateur, index) {
					if (!utilisateur.reponses) {
						utilisateurs[index].reponses = 0
					}
				})
				utilisateurs.sort(function (a, b) {
					return b.reponses - a.reponses
				})
			}
			return utilisateurs
		},
		statistiques () {
			const statistiques = []
			this.questions.forEach(function (question, indexQuestion) {
				const personnes = []
				const pourcentages = []
				for (let i = 0; i < question.items.length; i++) {
					personnes.push(0)
					pourcentages.push(0)
				}
				question.items.forEach(function (item, index) {
					let total = 0
					let reponses = 0
					this.reponses.forEach(function (donnees) {
						donnees.reponse[indexQuestion].forEach(function (reponse) {
							if (reponse === item.texte || reponse === item.image) {
								reponses++
							}
						})
						total++
					})
					if (reponses > 0) {
						personnes[index] = reponses
						const pourcentage = (reponses / total) * 100
						pourcentages[index] = Math.round(pourcentage)
					}
				}.bind(this))
				statistiques.push({ personnes: personnes, pourcentages: pourcentages })
			}.bind(this))
			return statistiques
		}
	},
	watch: {
		indexQuestion: function () {
			this.reponseVisible = false
		}
	},
	created () {
		this.description = this.donnees.description
		this.support = this.donnees.support
		this.options = this.donnees.options
		this.questions = this.donnees.questions
	},
	methods: {
		afficherReponse () {
			this.reponseVisible = !this.reponseVisible
		},
		modifierIndexQuestion () {
			const indexQuestion = this.indexQuestion + 1
			this.$emit('index', indexQuestion)
		},
		afficherClassement () {
			this.$emit('classement')
		},
		afficherResultats () {
			this.tableauResultats = !this.tableauResultats
		},
		definirScore (identifiant) {
			let score = 0
			this.classement.forEach(function (utilisateur) {
				if (utilisateur.identifiant === identifiant) {
					score = utilisateur.score
				}
			})
			return score
		},
		definirReponseQuestion (identifiant, indexQuestion) {
			const reponseCorrecte = []
			let bonneReponse = false
			let reponses = 0
			this.questions[indexQuestion].items.forEach(function (item) {
				if (item.reponse === true && item.texte !== '') {
					reponseCorrecte.push(item.texte)
				} else if (item.reponse === true && item.image !== '') {
					reponseCorrecte.push(item.image)
				}
			})
			this.reponses.forEach(function (item) {
				if (item.identifiant === identifiant) {
					if (item.reponse[indexQuestion].equals(reponseCorrecte)) {
						bonneReponse = true
					}
					reponses = item.reponse[indexQuestion].length
				}
			})
			return { bonneReponse: bonneReponse, reponses: reponses }
		},
		afficherMedia () {
			this.modale = 'media'
		},
		fermerModaleMedia () {
			this.modale = ''
		},
		afficherImage (event, image) {
			event.preventDefault()
			event.stopPropagation()
			this.image = image
			this.modale = 'image'
		},
		fermerModaleImage () {
			this.modale = ''
			this.image = ''
		},
		afficherSupport () {
			this.donneesQuestion.type = 'support'
			this.indexQuestionTableau = -1
			this.modaleQuestion = true
		},
		afficherQuestion (donneesQuestion, indexQuestionTableau) {
			this.donneesQuestion = donneesQuestion
			this.donneesQuestion.type = 'question'
			this.indexQuestionTableau = indexQuestionTableau
			this.modaleQuestion = true
		},
		fermerModaleQuestion () {
			this.modaleQuestion = false
			this.donneesQuestion = {}
			this.indexQuestionTableau = -1
			this.reponseVisibleModale = false
		},
		modifierIndexQuestionTableau (direction) {
			if (direction === 'precedente') {
				this.indexQuestionTableau--
			} else if (direction === 'suivante') {
				this.indexQuestionTableau++
			}
			this.reponseVisibleModale = false
			if (this.indexQuestionTableau === -1) {
				this.donneesQuestion.type = 'support'
			} else {
				this.donneesQuestion = this.donnees.questions[this.indexQuestionTableau]
				this.donneesQuestion.type = 'question'
			}
		},
		cacherNoms () {
			this.nomsVisible = false
		},
		afficherNoms () {
			this.nomsVisible = true
		}
	}
}
</script>

<style scoped>
#questionnaire {
	width: 100%;
	max-width: 1024px;
	height: 100%;
	padding: 40px 20px;
	margin: 0 auto;
	overflow: auto;
    -webkit-overflow-scrolling: touch;
}

#questionnaire.avec-actions {
	height: calc(100% - 60px);
}

#attente .points {
	display: flex;
    justify-content: flex-start;
    width: 100%;
    margin: 40px 0;
}

#attente .point {
	display: inline-block;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	margin-right: 15px;
	background: #00ced1;
	animation: vague 1.5s linear infinite;
}

#attente .point:nth-child(2) {
	animation-delay: -1.1s;
}

#attente .point:nth-child(3) {
	animation-delay: -0.7s;
}

#tableau {
	overflow-x: auto;
}

#tableau table {
    border-collapse: collapse;
    border-spacing: 0;
	overflow: hidden;
}

#tableau table td {
    position: relative;
    text-align: center;
    padding: 0;
    outline: 0;
    border: 1px solid #fff;
}

#tableau table td.utilisateurs {
	vertical-align: bottom;
    width: 17.5rem;
    text-align: left !important;
    background: #f4f4f4;
    border-right: 1px solid #f4f4f4!important;
	padding: 10px;
}

#tableau table thead td.score {
	vertical-align: bottom;
    background: #f4f4f4;
    min-width: 90px;
	padding-bottom: 15px;
}

#tableau table tbody td.score {
	vertical-align: middle;
    background: #fff;
    min-width: 90px;
	font-weight: 400;
}

#tableau table thead td.question {
	cursor: pointer;
}

#tableau table td.question {
	min-width: 50px;
    vertical-align: middle;
	background: #f4f4f4;
}

#tableau table td.question .index {
	display: block;
    text-align: center;
    padding: 10px 0;
    line-height: 1;
}

#tableau table td.question .type {
	display: block;
	text-align: center;
    line-height: 1;
    padding-bottom: 10px;
}

#tableau table tbody td.question {
	font-size: 24px;
	line-height: 1;
	padding: 10px;
}

#tableau table tbody td.question.correct {
	background: #d5eee1;
	color: #00a695;
}

#tableau table tbody td.question.incorrect {
	background: #ffe6e1;
	color: #ff6348;
}

#tableau table tbody td.utilisateur {
	text-align: left;
	padding: 10px;
	line-height: 1;
}

#tableau table tbody td.utilisateur .nom {
    font-weight: 400;
	line-height: 1.5;
}

#tableau table tbody td.utilisateur .masque {
    display: inline-block;
    width: 100%;
    height: 21px;
	line-height: 1;
	background: #f4f4f4;
}

#tableau table thead td.utilisateurs select {
	background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="14" viewBox="0 0 29 14" width="29"><path fill="%23000000" d="M9.37727 3.625l5.08154 6.93523L19.54036 3.625" /></svg>') center right no-repeat;
	padding: 5px 30px 5px 10px;
    background-color: #fff;
    border-radius: 4px;
	cursor: pointer;
}

#tableau table thead td.utilisateurs span[role="button"] {
	display: inline-block;
	padding: 5px 10px;
    background-color: #fff;
    border-radius: 4px;
    margin-bottom: 10px;
	cursor: pointer;
}

#progression {
	padding-bottom: 15px;
	border-bottom: 1px solid #ddd;
	font-weight: 700;
}

#progression + #support {
	margin-top: 10px;
}

#progression + #description {
	margin-top: 40px;
}

#support {
	text-align: right;
}

#support span {
	font-size: 14px;
	color: #00ced1;
	cursor: pointer;
}

#description .description,
#questions .question {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2.7rem;
	line-height: 1.25;
}

#description .description {
	font-weight: 400;
}

#questions {
	margin-top: 40px;
}

#questions .question {
	font-weight: 700;
}

#description .description + .support {
	margin-top: 40px;
}

#description .support img {
	max-width: 100%;
	max-height: 30rem;
	border-radius: 5px;
	cursor: zoom-in;
}

#description .support audio{
	width: 100%;
}

#description .support .video {
    position: relative;
	width: 100%;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
}

#description .support .video iframe {
    position: absolute;
    top: 0;
    left: 0;
	bottom: 0;
	right: 0;
    width: 100%;
    height: 100%;
}

#questions .question {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2.7rem;
	font-weight: 700;
	line-height: 1.25;
}

#questions .question-et-support {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#questions .question-et-support .question {
	width: calc(100% - (10rem + 20px));
}

#questions .question-et-support .support {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 0;
	width: 10rem;
	height: 10rem;
	margin-left: 20px;
	cursor: zoom-in;
}

#questions .question-et-support .support img {
	max-width: 10rem;
	max-height: 10rem;
	border-radius: 5px;
}

#description .support,
#questions .support {
	text-align: center;
}

#questions .support img {
	max-width: 100%;
	max-height: 12rem;
	border-radius: 5px;
	cursor: zoom-in;
}

#questions .items {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	width: 100%;
	margin-top: 40px;
}

#questions .items .item {
	position: relative;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	border: 1px solid #ddd;
	padding: 15px 20px;
	border-radius: 1em;
	margin: 0 0 20px;
    width: 100%;
}

#questions .items .item.reponse {
	border: 1px solid #242f3d;
}

#questions .items .item.correct {
	background: #d5eee1;
	border-color: #00a695;
	box-shadow: 0 0 0 1px #00a695;
}

#questions .items .item .index {
	width: 4rem;
	height: 4rem;
	border-radius: 50%;
	color: #fff;
	background: #00ced1;
	font-size: 2.4rem;
	font-weight: 400;
	text-align: center;
	line-height: 4rem;
	margin-right: 20px;
}

#questions .items .item.correct .index {
	background: #00a695;
}

#questions .items .item .image {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 0;
	width: 7rem;
	height: 7rem;
	margin-right: 20px;
	cursor: zoom-in;
}

#questions .items .item .image img {
	max-width: 7rem;
	max-height: 7rem;
	border-radius: 5px;
}

#questions .items .item .texte {
	font-size: 2.3rem;
	font-weight: 400;
	line-height: 1.25;
}

#questions .items .item .index + .texte {
	width: calc(100% - (4rem + 20px));
}

#questions .items .item .image + .texte {
	width: calc(100% - (11rem + 40px));
}

#questions .items.resultats .item .contenu {
	position: relative;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	width: calc(100% - (6rem + 15px));
	z-index: 1;
}

#questions .items.resultats .item .statistiques {
	display: flex;
	flex-wrap: wrap;
    width: calc(6rem + 15px);
    height: 100%;
    font-size: 2rem;
    font-weight: 400;
	padding-left: 15px;
	margin-left: 15px;
	border-left: 1px solid #ddd;
	z-index: 1;
}

#questions .items.resultats .item.reponse .statistiques {
	border-left: 1px solid #242f3d;
}

#questions .items.resultats .item .statistiques span {
    width: 100%;
}

#questions .items.resultats .item .progression {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
	background: rgba(0, 206, 209, 0.2);
	border-radius: 1em;
}

#questions .items.resultats .item.correct .progression {
	background: transparent;
}

#actions {
	position: absolute;
	bottom: 0;
	left: 0;
    right: 0;
    height: 60px;
    width: 100%;
    background: #fff;
    border-top: 1px solid #ddd;
    z-index: 10;
}

#actions .section {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	height: 100%;
}

#modale-media img,
#modale-image img {
	max-height: calc(90vh - 100px);
}

#modale-question {
	max-width: 700px;
	height: 500px;
	max-height: 90%;
}

#modale-question .conteneur {
	height: calc(100% - 90px);
}

#modale-question footer {
	height: 45px;
}

#modale-question .description {
	font-size: 2.3rem;
}

#modale-question .description + .support {
	margin-top: 25px;
}

#modale-question #description .support img {
	max-height: 20rem;
}

#modale-question .question {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2.3rem;
	font-weight: 700;
	line-height: 1.25;
}

#modale-question .question-et-support {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#modale-question .question-et-support .question {
	width: calc(100% - (8rem + 15px));
}

#modale-question .question-et-support .support {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 0;
	width: 8rem;
	height: 8rem;
	margin-left: 15px;
}

#modale-question .question-et-support .support img {
	max-width: 8rem;
	max-height: 8rem;
	border-radius: 5px;
	cursor: zoom-in;
}

#modale-question .support {
	text-align: center;
}

#modale-question .support img {
	max-width: 100%;
	max-height: 8rem;
	border-radius: 5px;
	cursor: zoom-in;
}

#modale-question .items {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	width: 100%;
	margin-top: 25px;
}

#modale-question .items .item {
	position: relative;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	border: 1px solid #ddd;
	padding: 10px 15px;
	border-radius: 1em;
	margin: 0 0 15px;
    width: 100%;
}

#modale-question .items .item:last-child {
	margin: 0;
}

#modale-question .items .item.reponse {
	border: 1px solid #242f3d;
}

#modale-question .items .item.correct {
	background: #d5eee1;
	border-color: #00a695;
	box-shadow: 0 0 0 1px #00a695;
}

#modale-question .items .item .index {
	width: 3rem;
	height: 3rem;
	border-radius: 50%;
	color: #fff;
	background: #00ced1;
	font-size: 2rem;
	font-weight: 400;
	text-align: center;
	line-height: 3rem;
	margin-right: 15px;
}

#modale-question .items .item.correct .index {
	background: #00a695;
}

#modale-question .items .item .image {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 0;
	width: 6rem;
	height: 6rem;
	margin-right: 15px;
}

#modale-question .items .item .image img {
	max-width: 6rem;
	max-height: 6rem;
	border-radius: 5px;
	cursor: zoom-in;
}

#modale-question .items .item .texte {
	font-size: 1.9rem;
	font-weight: 400;
	line-height: 1.25;
}

#modale-question .items .item .index + .texte {
	width: calc(100% - (3rem + 15px));
}

#modale-question .items .item .image + .texte {
	width: calc(100% - (9rem + 30px));
}

#modale-question footer {
	justify-content: space-between;
}

#modale-question footer .bouton.icone.invisible {
	visibility: hidden;
}

@keyframes vague {
	0%, 60%, 100% {
		transform: initial;
	}
	30% {
		transform: translateY(-30px);
	}
}

@media screen and (max-width: 599px) {
	#questions .items.resultats .item {
		flex-wrap: wrap;
	}

	#questions .items.resultats .item .contenu {
		width: 100%;
	}

	#questions .items.resultats .item .statistiques {
		flex-wrap: nowrap;
		width: 100%;
		height: auto;
		padding-left: 0;
		margin-left: 0;
		border-left: 0;
		padding-top: 15px;
		margin-top: 15px;
		border-top: 1px solid #ddd;
		line-height: 1;
	}

	#questions .items.resultats .item .statistiques span {
		text-align: center;
	}

	#questions .items.resultats .item.reponse .statistiques {
		border-left: 0;
		border-top: 1px solid #242f3d;
	}
}
</style>

<style>
#attente .info-attente p {
	margin-bottom: 5px;
}

#attente .info-attente p:last-child {
	margin-bottom: 0;
}
</style>
