<template>
	<div id="questionnaire">
		<div id="description" class="section">
			<h2>{{ $t('descriptionEtSupportFacultatifs') }}</h2>
			<div class="description">
				<div class="conteneur-textarea" :class="{'media': Object.keys(support).length > 0}">
					<textarea-autosize v-model="description" :rows="1" :min-height="46" :max-height="94" :placeholder="$t('description')" />
				</div>
				<span class="actions" v-if="chargement === 'media'">
					<span class="conteneur-chargement">
						<span class="chargement" />
						<span class="progression">{{ progression }} %</span>
					</span>
				</span>
				<span class="actions" v-else-if="chargement !== 'media' && Object.keys(support).length === 0">
					<span @click="afficherAjouterMedia" :title="$t('ajouterSupport')"><i class="material-icons">library_add</i></span>
				</span>
				<span class="actions media" v-else-if="chargement !== 'media' && Object.keys(support).length > 0 && support.lien && support.lien !== ''" @click="afficherMedia(support.lien, 'video')" :title="$t('afficherSupport')" :style="{'background-image': 'url(' + support.vignette + ')'}" />
				<span class="actions media" v-else-if="chargement !== 'media' && Object.keys(support).length > 0 && support.fichier && support.fichier !== '' && support.type === 'image'" @click="afficherMedia('/fichiers/' + code + '/' + support.fichier, 'image')" :title="$t('afficherSupport')" :style="{'background-image': 'url(/fichiers/' + code + '/' + support.fichier + ')'}" />
				<span class="actions media audio" v-else-if="chargement !== 'media' && Object.keys(support).length > 0 && support.fichier && support.fichier !== '' && support.type === 'audio'" @click="afficherMedia('/fichiers/' + code + '/' + support.fichier, 'audio')" :title="$t('afficherSupport')">
					<span><i class="material-icons">audiotrack</i></span>
				</span>
			</div>
		</div>

		<div id="parametres" class="section">
			<h2>{{ $t('parametresQuestionnaires') }}</h2>
			<div class="conteneur-parametres">
				<div class="parametre">
					<h3>{{ $t('progression') }}</h3>
					<label class="bouton-radio">{{ $t('progressionLibre') }}
						<input type="radio" name="progression" :checked="options.progression === 'libre'" @change="modifierParametres('progression', 'libre')">
						<span class="coche" />
					</label>
					<label class="bouton-radio">{{ $t('progressionAnimateur') }}
						<input type="radio" name="progression" :checked="options.progression === 'animateur'" @change="modifierParametres('progression', 'animateur')">
						<span class="coche" />
					</label>
				</div>
				<div class="parametre">
					<h3>{{ $t('nomOuPseudo') }}</h3>
					<label class="bouton-radio">{{ $t('obligatoire') }}
						<input type="radio" name="nom" :checked="options.nom === 'obligatoire'" @change="modifierParametres('nom', 'obligatoire')">
						<span class="coche" />
					</label>
					<label class="bouton-radio">{{ $t('facultatif') }}
						<input type="radio" name="nom" :checked="options.nom === 'facultatif'" @change="modifierParametres('nom', 'facultatif')">
						<span class="coche" />
					</label>
				</div>
				<div class="parametre">
					<h3>{{ $t('affichageBonnesReponses') }}</h3>
					<label class="bouton-radio">{{ $t('oui') }}
						<input type="radio" name="reponses" :checked="options.reponses === true" @change="modifierParametres('reponses', true)">
						<span class="coche" />
					</label>
					<label class="bouton-radio">{{ $t('non') }}
						<input type="radio" name="reponses" :checked="options.reponses === false" @change="modifierParametres('reponses', false)">
						<span class="coche" />
					</label>
				</div>
				<div class="parametre" v-if="options.progression === 'animateur' && options.nom === 'obligatoire'">
					<h3>{{ $t('affichageClassement') }}</h3>
					<label class="bouton-radio">{{ $t('oui') }}
						<input type="radio" name="classement" :checked="options.classement === true" @change="modifierParametres('classement', true)">
						<span class="coche" />
					</label>
					<label class="bouton-radio">{{ $t('non') }}
						<input type="radio" name="classement" :checked="options.classement === false" @change="modifierParametres('classement', false)">
						<span class="coche" />
					</label>
				</div>
				<div class="parametre" v-if="options.progression === 'libre'">
					<h3>{{ $t('modaliteReponse') }}</h3>
					<label class="bouton-radio">{{ $t('synchrone') }}
						<input type="radio" name="modalite" :checked="options.modalite === 'synchrone'" @change="modifierParametres('modalite', 'synchrone')">
						<span class="coche" />
					</label>
					<label class="bouton-radio">{{ $t('asynchrone') }}
						<input type="radio" name="modalite" :checked="options.modalite === 'asynchrone'" @change="modifierParametres('modalite','asynchrone')">
						<span class="coche" />
					</label>
				</div>
			</div>
		</div>

		<draggable id="questions" v-model="questions" draggable=".accordeon" handle=".poignee-accordeon" filter=".desactive" :animation="150" :scroll="true" :force-fallback="true">
			<template v-for="(q, indexQ) in questions">
				<div :id="'accordeon' + indexQ" class="section accordeon" role="button" :key="'accordeon_' + indexQ">
					<div class="conteneur-accordeon">
						<div class="en-tete-accordeon">
							<div class="titre">
								<span class="poignee poignee-accordeon" :class="{'desactive': questions.length === 1}">
									<i class="material-icons">drag_indicator</i>
								</span>
								<span class="titre-question" @click="gererAccordeon(indexQ)">
									{{ definirTitre(indexQ) }}
								</span>
							</div>
							<span class="statut" @click="gererAccordeon(indexQ)">
								<i class="material-icons" v-if="accordeonOuvert !== indexQ" :title="$t('ouvrir')">add</i>
								<i class="material-icons" v-else :title="$t('fermer')">remove</i>
							</span>
						</div>

						<div class="contenu-accordeon">
							<div :id="'question' + indexQ" class="section" :key="'question_' + indexQ">
								<h2>{{ $t('question') }}</h2>
								<div class="question">
									<div class="conteneur-textarea" :class="{'image': Object.keys(q.support).length > 0}">
										<textarea-autosize v-model="q.question" :rows="1" :min-height="46" :max-height="94" :placeholder="$t('question')" />
									</div>
									<span class="actions" v-if="chargement === 'support' + indexQ">
										<span class="conteneur-chargement">
											<span class="chargement" />
											<span class="progression">{{ progression }} %</span>
										</span>
									</span>
									<span class="actions" v-else-if="chargement !== 'support' + indexQ && Object.keys(q.support).length === 0">
										<label :for="'televerser-support' + indexQ" role="button" :title="$t('ajouterImage')"><i class="material-icons">add_photo_alternate</i></label>
										<input :id="'televerser-support' + indexQ" type="file" @change="televerserImage(indexQ, 'support')" style="display: none" accept=".jpg, .jpeg, .png, .gif">
									</span>
									<span class="actions image" v-else-if="chargement !== 'support' + indexQ && Object.keys(q.support).length > 0" @click="afficherSupport(indexQ, '/fichiers/' + code + '/' + q.support.image)" :title="$t('afficherImage')" :style="{'background-image': 'url(/fichiers/' + code + '/' + q.support.image + ')'}" />
								</div>
							</div>

							<div :id="'items' + indexQ" class="section" :key="'items_' + indexQ">
								<h2>{{ $t('reponses') }}</h2>
								<div class="options">
									<label class="bouton-radio">{{ $t('choixUnique') }}
										<input type="radio" :name="'option' + indexQ" :checked="q.option === 'choix-unique'" @change="modifierOption(indexQ, 'choix-unique')">
										<span class="coche" />
									</label>
									<label class="bouton-radio">{{ $t('choixMultiples') }}
										<input type="radio" :name="'option' + indexQ" :checked="q.option === 'choix-multiples'" @change="modifierOption(indexQ, 'choix-multiples')">
										<span class="coche" />
									</label>
								</div>
								<draggable class="items" v-model="q.items" draggable=".item" handle=".poignee" filter=".desactive" :animation="150" :scroll="true" :force-fallback="true">
									<div :id="'item' + indexQ + '_' + index" class="item" v-for="(item, index) in q.items" :key="'item_' + index">
										<span class="poignee" :class="{'desactive': chargement.substring(0, 5) === 'image' || q.items.length === 1}">
											<i class="material-icons">drag_indicator</i>
										</span>
										<span class="reponse">
											<i class="material-icons" v-if="!item.reponse && q.option === 'choix-unique'" @click="selectionnerReponse(indexQ, index)">radio_button_unchecked</i>
											<i class="material-icons" v-else-if="item.reponse && q.option === 'choix-unique'" @click="selectionnerReponse(indexQ, index)">radio_button_checked</i>
											<i class="material-icons" v-else-if="!item.reponse && q.option === 'choix-multiples'" @click="selectionnerReponse(indexQ, index)">check_box_outline_blank</i>
											<i class="material-icons" v-else-if="item.reponse && q.option === 'choix-multiples'" @click="selectionnerReponse(indexQ, index)">check_box</i>
										</span>
										<div class="conteneur-textarea" :class="{'image': item.image !== ''}">
											<textarea-autosize v-model="q.items[index].texte" :rows="1" :min-height="46" :max-height="94" :placeholder="'Choix ' + (index + 1)" />
										</div>
										<span class="actions" v-if="chargement === 'image' + indexQ + '_' + index">
											<span class="conteneur-chargement">
												<span class="chargement" />
												<span class="progression">{{ progression }} %</span>
											</span>
											<span @click="supprimerItem(indexQ, index)" :class="{'desactive': q.items.length === 1}" :title="$t('supprimerReponse')"><i class="material-icons">delete</i></span>
										</span>
										<span class="actions" v-else-if="chargement !== 'image' + indexQ + '_' + index && item.image === ''">
											<label :for="'televerser-image' + indexQ + '_' + index" :title="$t('ajouterImage')" role="button"><i class="material-icons">add_photo_alternate</i></label>
											<input :id="'televerser-image' + indexQ + '_' + index" type="file" @change="televerserImage(indexQ, index)" style="display: none" accept=".jpg, .jpeg, .png, .gif">
											<span @click="supprimerItem(indexQ, index)" :class="{'desactive': q.items.length === 1}" :title="$t('supprimerReponse')"><i class="material-icons">delete</i></span>
										</span>
										<span class="actions" v-else-if="chargement !== 'image' + indexQ + '_' + index && item.image !== ''">
											<span class="image" @click="afficherImage(indexQ, '/fichiers/' + code + '/' + item.image, index)" :title="$t('afficherImage')" :style="{'background-image': 'url(/fichiers/' + code + '/' + item.image + ')'}" />
											<span @click="supprimerItem(indexQ, index)" :class="{'desactive': q.items.length === 1}" :title="$t('supprimerReponse')"><i class="material-icons">delete</i></span>
										</span>
									</div>
								</draggable>

								<span :id="'ajouter' + indexQ" class="ajouter" role="button" :title="$t('ajouterReponse')" @click="ajouterItem(indexQ)"><i class="material-icons">add_circle_outline</i></span>

								<span class="bouton supprimer" role="button" tabindex="0" @click="supprimerQuestion(indexQ)" v-if="questions.length > 1">{{ $t('supprimerQuestion') }}</span>
							</div>
						</div>
					</div>
				</div>
			</template>
		</draggable>

		<div class="section">
			<span id="ajouter-question" class="bouton" role="button" tabindex="0" @click="ajouterQuestion">{{ $t('ajouterQuestion') }}</span>
		</div>

		<div class="conteneur-modale" v-if="modale === 'ajouter-media'">
			<div id="modale-ajouter-media" class="modale">
				<header>
					<span class="titre">{{ $t('ajouterMedia') }}</span>
					<span class="fermer" role="button" @click="fermerModaleAjouterMedia"><i class="material-icons">close</i></span>
				</header>
				<div class="conteneur">
					<div class="contenu" v-if="chargement === ''">
						<label>{{ $t('lienVideo') }}</label>
						<div class="valider">
							<input type="text" :value="lien" @input="lien = $event.target.value" @keydown.enter="ajouterVideo">
							<span role="button" :title="$t('valider')" class="bouton-secondaire" @click="ajouterVideo"><i class="material-icons">search</i></span>
						</div>
						<div class="separateur"><span>{{ $t('ou') }}</span></div>
						<label>{{ $t('fichierImageAudio') }}</label>
						<label class="bouton" role="button" for="selectionner-media">{{ $t('selectionnerFichier') }}</label>
						<input id="selectionner-media" type="file" @change="televerserMedia" style="display: none" accept=".jpg, .jpeg, .png, .gif, .mp3, .wav, .m4a, .ogg">
					</div>
					<div class="contenu" v-else>
						<div class="conteneur-chargement">
							<div class="chargement" />
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="conteneur-modale" v-else-if="modale === 'media'">
			<div id="modale-media" class="modale">
				<header>
					<span class="titre" />
					<span class="fermer" role="button" @click="fermerModaleMedia"><i class="material-icons">close</i></span>
				</header>
				<div class="conteneur">
					<div class="contenu">
						<img v-if="media.type === 'image'" :src="media.fichier" :alt="$t('image')">
						<audio v-else-if="media.type === 'audio'" controls :src="media.fichier" />
						<div class="video" v-else-if="media.type === 'video'">
							<iframe :src="media.lien" allowfullscreen />
						</div>
						<div class="actions">
							<span class="bouton" role="button" tabindex="0" @click="afficherAjouterMedia">{{ $t('modifier') }}</span>
							<span class="bouton" role="button" tabindex="0" @click="supprimerMedia">{{ $t('supprimer') }}</span>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="conteneur-modale" v-else-if="modale === 'support'">
			<div id="modale-image" class="modale">
				<header>
					<span class="titre" />
					<span class="fermer" role="button" @click="fermerModaleImage"><i class="material-icons">close</i></span>
				</header>
				<div class="conteneur">
					<div class="contenu">
						<img :src="image" :alt="$t('image')">
						<div class="actions">
							<label :for="'televerser-support' + indexQuestion" class="bouton" role="button" tabindex="0">{{ $t('modifier') }}</label>
							<input :id="'televerser-support' + indexQuestion" type="file" @change="televerserImage(indexQuestion, 'support')" style="display: none" accept=".jpg, .jpeg, .png, .gif">
							<span class="bouton" role="button" tabindex="0" @click="supprimerImage(indexQuestion, 'support')">{{ $t('supprimer') }}</span>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="conteneur-modale" v-else-if="modale === 'image'">
			<div id="modale-image" class="modale">
				<header>
					<span class="titre" />
					<span class="fermer" role="button" @click="fermerModaleImage"><i class="material-icons">close</i></span>
				</header>
				<div class="conteneur">
					<div class="contenu">
						<img :src="image" :alt="$t('image')">
						<div class="actions">
							<label :for="'televerser-image' + indexQuestion + '_' + indexImage" class="bouton" role="button" tabindex="0">{{ $t('modifier') }}</label>
							<input :id="'televerser-image' + indexQuestion + '_' + indexImage" type="file" @change="televerserImage(indexQuestion, indexImage)" style="display: none" accept=".jpg, .jpeg, .png, .gif">
							<span class="bouton" role="button" tabindex="0" @click="supprimerImage(indexQuestion, indexImage)">{{ $t('supprimer') }}</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
import axios from 'axios'
import draggable from 'vuedraggable'

export default {
	name: 'QuestionnaireCreer',
	components: {
		draggable
	},
	props: {
		code: String,
		donnees: Object,
		statut: String,
		enregistrement: String
	},
	data () {
		return {
			description: '',
			support: {},
			questions: [
				{
					question: '',
					support: {},
					option: 'choix-unique',
					items: [{ texte: '', image: '', alt: '', reponse: false }, { texte: '', image: '', alt: '', reponse: false }]
				}
			],
			options: {
				progression: 'libre',
				nom: 'facultatif',
				reponses: true,
				classement: false,
				modalite: 'synchrone'
			},
			accordeonOuvert: 0,
			indexQuestion: 0,
			chargement: '',
			modale: '',
			image: '',
			indexImage: -1,
			images: [],
			corbeille: [],
			progression: 0,
			lien: '',
			media: {},
			medias: []
		}
	},
	computed: {
		hote () {
			return this.$store.state.hote
		}
	},
	watch: {
		accordeonOuvert: function (index) {
			const accordeons = document.querySelectorAll('.contenu-accordeon')
			accordeons.forEach(function (accordeon) {
				accordeon.style.display = 'none'
			})
			if (index !== -1) {
				const accordeon = document.querySelector('#accordeon' + index + ' .contenu-accordeon')
				accordeon.style.display = 'block'
			}
		},
		enregistrement: function (valeur) {
			if (valeur === 'enregistrement' || valeur === 'lancement') {
				if (Object.keys(this.support).length > 0 && this.medias.includes(this.support.fichier)) {
					const index = this.medias.indexOf(this.support.fichier)
					this.medias.splice(index, 1)
				}
				this.questions.forEach(function (q) {
					q.items.forEach(function (item) {
						if (item.image !== '' && this.images.includes(item.image)) {
							const index = this.images.indexOf(item.image)
							this.images.splice(index, 1)
						}
					}.bind(this))
					if (Object.keys(q.support).length > 0 && this.images.includes(q.support.image)) {
						const index = this.images.indexOf(q.support.image)
						this.images.splice(index, 1)
					}
				}.bind(this))
				this.corbeille.push(...this.images)
				this.corbeille.push(...this.medias)
				let indexQuestion = 0
				if (this.description !== '' || Object.keys(this.support).length > 0) {
					indexQuestion = -1
				}
				this.$emit('enregistrement', { description: this.description, support: this.support, options: this.options, questions: this.questions, indexQuestion: indexQuestion, copieIndexQuestion: indexQuestion })
			} else if (valeur === 'termine') {
				this.viderCorbeille()
			}
		}
	},
	created () {
		if (Object.keys(this.donnees).length > 0) {
			this.description = this.donnees.description
			this.support = this.donnees.support
			this.options = this.donnees.options
			this.questions = this.donnees.questions
		}
	},
	mounted () {
		this.$nextTick(function () {
			const accordeon = document.querySelector('#accordeon0 .contenu-accordeon')
			accordeon.style.display = 'block'
			if (this.description === '') {
				document.querySelector('#description textarea').focus()
			}
		}.bind(this))
		window.addEventListener('beforeunload', this.quitterPage, false)
	},
	beforeDestroy () {
		window.removeEventListener('beforeunload', this.quitterPage, false)
	},
	methods: {
		definirTitre (indexQuestion) {
			if (this.accordeonOuvert !== indexQuestion && this.questions[indexQuestion].question !== '') {
				return this.$t('question') + ' ' + (indexQuestion + 1) + this.$t('doublePoint') + this.questions[indexQuestion].question
			} else {
				return this.$t('question') + ' ' + (indexQuestion + 1)
			}
		},
		modifierParametres (type, valeur) {
			this.options[type] = valeur
			if (this.options.nom === 'facultatif') {
				this.options.classement = false
			}
		},
		gererAccordeon (indexQuestion) {
			if (this.accordeonOuvert === indexQuestion) {
				this.accordeonOuvert = -1
			} else {
				this.accordeonOuvert = indexQuestion
			}
			if (this.questions[indexQuestion].question === '') {
				this.$nextTick(function () {
					document.querySelector('#question' + indexQuestion + ' .question textarea').focus()
				})
			}
		},
		afficherAjouterMedia () {
			this.modale = 'ajouter-media'
		},
		fermerModaleAjouterMedia () {
			this.modale = ''
			this.lien = ''
		},
		ajouterVideo () {
			if (this.verifierURL(this.lien) === true) {
				const regExp = /^.*(youtu\.be\/|v\/|u\/\w\/|embed\/|watch\?v=|&v=)([^#&?]*).*/
				if (this.lien.match(regExp)) {
					const id = this.lien.match(regExp)[2]
					this.support = { lien: 'https://www.youtube-nocookie.com/embed/' + id, vignette: 'https://i.ytimg.com/vi/' + id + '/default.jpg', fichier: '', type: 'video' }
					this.fermerModaleAjouterMedia()
				}
			}
		},
		verifierURL (url) {
			const res = url.match(/(http(s)?:\/\/.)?(www\.)?[-a-zA-Z0-9@:%._~#=]{2,256}\.[a-z]{2,6}\b([-a-zA-Z0-9@:%_.~#?&//=]*)/g)
			return (res !== null)
		},
		televerserMedia (event) {
			this.fermerModaleAjouterMedia()
			const champ = event.target
			const formats = ['jpg', 'jpeg', 'png', 'gif', 'mp3', 'wav', 'm4a', 'ogg']
			const extension = champ.files[0].name.substr(champ.files[0].name.lastIndexOf('.') + 1).toLowerCase()
			if (champ.files && champ.files[0] && formats.includes(extension) && champ.files[0].size < 10485760) {
				this.chargement = 'media'
				const fichier = champ.files[0]
				const formulaire = new FormData()
				formulaire.append('code', this.code)
				formulaire.append('fichier', fichier)
				axios.post(this.hote + '/api/televerser-media', formulaire, {
					headers: {
						'Content-Type': 'multipart/form-data'
					},
					onUploadProgress: function (progression) {
						const pourcentage = parseInt(Math.round((progression.loaded * 100) / progression.total))
						this.progression = pourcentage
					}.bind(this)
				}).then(function (reponse) {
					this.chargement = ''
					const donnees = reponse.data
					if (donnees === 'erreur') {
						this.$store.dispatch('modifierMessage', this.$t('erreurCommunicationServeur'))
					} else if (donnees === 'non_autorise') {
						this.$store.dispatch('modifierMessage', this.$t('pasAutoriseModifierQuestionnaire'))
					} else {
						this.support = donnees
						this.medias.push(donnees.fichier)
					}
					champ.value = ''
					this.progression = 0
				}.bind(this)).catch(function () {
					champ.value = ''
					this.chargement = ''
					this.progression = 0
					this.$store.dispatch('modifierMessage', this.$t('erreurCommunicationServeur'))
				}.bind(this))
			} else {
				if (!formats.includes(extension)) {
					this.$store.dispatch('modifierMessage', this.$t('formatImageNonAccepte'))
				} else if (champ.files[0].size >= 10485760) {
					this.$store.dispatch('modifierMessage', this.$t('tailleMaximaleFichier'))
				}
				champ.value = ''
			}
		},
		ajouterQuestion () {
			this.questions.push({ question: '', support: {}, option: 'choix-unique', items: [{ texte: '', image: '', alt: '', reponse: false }, { texte: '', image: '', alt: '', reponse: false }] })
			const indexQuestion = this.questions.length - 1
			this.$nextTick(function () {
				this.accordeonOuvert = indexQuestion
				this.$nextTick(function () {
					document.querySelector('#question' + indexQuestion + ' .question textarea').focus()
				})
			}.bind(this))
		},
		supprimerQuestion (indexQuestion) {
			this.questions[indexQuestion].items.forEach(function (item) {
				if (item.image !== '') {
					this.corbeille.push(item.image)
				}
			}.bind(this))
			this.questions.splice(indexQuestion, 1)
			this.accordeonOuvert = -1
		},
		modifierOption (indexQuestion, option) {
			this.questions[indexQuestion].option = option
			if (option === 'choix-unique') {
				this.questions[indexQuestion].items.forEach(function (item) {
					item.reponse = false
				})
			}
		},
		ajouterItem (indexQuestion) {
			this.questions[indexQuestion].items.push({ texte: '', image: '', alt: '', reponse: false })
			const indexItem = this.questions[indexQuestion].items.length - 1
			this.$nextTick(function () {
				document.querySelector('#item' + indexQuestion + '_' + indexItem + ' textarea').focus()
			})
		},
		supprimerItem (indexQuestion, indexItem) {
			if (this.questions[indexQuestion].items.length > 1) {
				if (this.questions[indexQuestion].items[indexItem].image !== '') {
					this.corbeille.push(this.questions[indexQuestion].items[indexItem].image)
				}
				this.questions[indexQuestion].items.splice(indexItem, 1)
			}
		},
		selectionnerReponse (indexQuestion, indexItem) {
			if (this.questions[indexQuestion].option === 'choix-unique') {
				this.questions[indexQuestion].items.forEach(function (item) {
					item.reponse = false
				})
				this.questions[indexQuestion].items[indexItem].reponse = true
			} else {
				this.questions[indexQuestion].items[indexItem].reponse = !this.questions[indexQuestion].items[indexItem].reponse
			}
		},
		televerserImage (indexQuestion, type) {
			this.modale = ''
			let champ = ''
			if (type === 'support') {
				champ = document.querySelector('#televerser-support' + indexQuestion)
			} else {
				champ = document.querySelector('#televerser-image' + indexQuestion + '_' + type)
			}
			const formats = ['jpg', 'jpeg', 'png', 'gif']
			const extension = champ.files[0].name.substr(champ.files[0].name.lastIndexOf('.') + 1).toLowerCase()
			if (champ.files && champ.files[0] && formats.includes(extension) && champ.files[0].size < 5242880) {
				if (type === 'support') {
					this.chargement = 'support' + indexQuestion
				} else {
					this.chargement = 'image' + indexQuestion + '_' + type
				}
				const fichier = champ.files[0]
				const formulaire = new FormData()
				formulaire.append('code', this.code)
				formulaire.append('fichier', fichier)
				axios.post(this.hote + '/api/televerser-image', formulaire, {
					headers: {
						'Content-Type': 'multipart/form-data'
					},
					onUploadProgress: function (progression) {
						const pourcentage = parseInt(Math.round((progression.loaded * 100) / progression.total))
						this.progression = pourcentage
					}.bind(this)
				}).then(function (reponse) {
					this.chargement = ''
					const donnees = reponse.data
					if (donnees === 'erreur') {
						this.$store.dispatch('modifierMessage', this.$t('erreurCommunicationServeur'))
					} else if (donnees === 'non_autorise') {
						this.$store.dispatch('modifierMessage', this.$t('pasAutoriseModifierQuestionnaire'))
					} else {
						if (type === 'support') {
							this.questions[indexQuestion].support = donnees
						} else {
							this.questions[indexQuestion].items[type].image = donnees.image
							this.questions[indexQuestion].items[type].alt = donnees.alt
						}
						this.images.push(donnees.image)
					}
					champ.value = ''
					this.progression = 0
				}.bind(this)).catch(function () {
					champ.value = ''
					this.chargement = ''
					this.progression = 0
					this.$store.dispatch('modifierMessage', this.$t('erreurCommunicationServeur'))
				}.bind(this))
			} else {
				if (!formats.includes(extension)) {
					this.$store.dispatch('modifierMessage', this.$t('formatImageNonAccepte'))
				} else if (champ.files[0].size >= 5242880) {
					this.$store.dispatch('modifierMessage', this.$t('tailleMaximaleImage'))
				}
				champ.value = ''
			}
		},
		afficherSupport (indexQuestion, image) {
			this.indexQuestion = indexQuestion
			this.image = image
			this.modale = 'support'
		},
		afficherImage (indexQuestion, image, index) {
			this.indexQuestion = indexQuestion
			this.image = image
			this.indexImage = index
			this.modale = 'image'
		},
		supprimerImage (indexQuestion, type) {
			if (type === 'support') {
				this.questions[indexQuestion].support = {}
			} else {
				this.questions[indexQuestion].items[type].image = ''
				this.questions[indexQuestion].items[type].alt = ''
			}
			this.fermerModaleImage()
		},
		fermerModaleImage () {
			this.modale = ''
			this.image = ''
			this.indexImage = -1
			this.indexQuestion = -1
		},
		afficherMedia (media, type) {
			if (type === 'video') {
				this.media = { lien: media, type: type }
			} else {
				this.media = { fichier: media, type: type }
			}
			this.modale = 'media'
		},
		supprimerMedia () {
			this.support = {}
			this.fermerModaleMedia()
		},
		fermerModaleMedia () {
			this.modale = ''
			this.media = {}
		},
		viderCorbeille () {
			axios.post(this.hote + '/api/supprimer-fichiers', {
				code: this.code,
				fichiers: this.corbeille
			}).then(function () {
				this.corbeille = []
				this.images = []
				this.medias = []
			}.bind(this))
		},
		quitterPage () {
			this.images.push(...this.medias)
			axios.post(this.hote + '/api/supprimer-fichiers', {
				code: this.code,
				fichiers: this.images
			})
		}
	}
}
</script>

<style scoped>
.section h3 {
	display: block;
	width: 100%;
    font-weight: 700;
    font-size: 17px;
    margin-bottom: 10px;
	line-height: 1;
}

#parametres.section {
    margin: 0 auto 30px;
}

#parametres .conteneur-parametres {
	display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

#parametres .parametre {
	margin-right: 30px;
}

.conteneur-accordeon {
	background: #fff;
	border: 2px solid #eee;
}

.en-tete-accordeon {
	display: flex;
	justify-content: space-between;
	padding: 20px;
	background: #eee;
	line-height: 1;
}

.en-tete-accordeon .titre {
	display: flex;
	align-items: center;
	width: calc(100% - 19px);
}

.en-tete-accordeon .titre-question {
	font-size: 20px;
	font-weight: 700;
	margin: 0 5px;
	width: calc(100% - 27px);
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	line-height: 1.2;
	cursor: pointer;
}

.contenu-accordeon {
    display: none;
}

.section.accordeon,
.contenu-accordeon .section {
    margin-bottom: 25px!important;
}

.contenu-accordeon .section:first-child {
	margin-top: 25px!important;
}

.contenu-accordeon .section h2 {
    font-size: 17px!important;
    color: #00ced1!important;
}

.accordeon .statut {
	text-align: center;
	font-size: 24px;
	width: 24px;
	cursor: pointer;
}

.accordeon .statut {
	margin-right: -5px;
}

.description,
.question {
	position: relative;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.description .conteneur-textarea,
.question .conteneur-textarea {
	width: calc(100% - 30px);
}

.description .conteneur-textarea.media textarea,
.item .conteneur-textarea.image textarea,
.question .conteneur-textarea.image textarea {
	border-top-right-radius: 0!important;
	border-bottom-right-radius: 0!important;
}

.description .actions,
.question .actions {
	text-align: center;
	font-size: 24px;
	width: 30px;
}

.description .actions {
	cursor: pointer;
}

.description .actions.media,
.question .actions.image {
	position: absolute;
    right: 0;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	height: 100%;
	cursor: pointer;
}

.description .actions.media.audio {
	display: flex;
    align-items: center;
    border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	border-right: 1px solid #ddd;
    background: #eee;
}

.bouton.supprimer,
#ajouter-question {
	display: inline-block;
	font-weight: 700;
	font-size: 14px;
	text-transform: uppercase;
	height: 40px;
	line-height: 40px;
	padding: 0 20px;
	cursor: pointer;
	color: #fff;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
	border-radius: 5px;
	letter-spacing: 1px;
	text-indent: 1px;
	transition: background-color ease-in 0.1s;
}

#ajouter-question {
	background: #00ced1;
	width: 100%;
	text-align: center;
}

#ajouter-question:hover {
	background: #00acb0;
}

.bouton.supprimer {
	background: #ff6259;
	margin-top: 15px;
}

.bouton.supprimer:hover {
	background: #d70b00;
}

.item {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 15px;
	z-index: 1;
}

.accordeon.sortable-chosen.sortable-ghost,
.item.sortable-chosen.sortable-ghost {
	opacity: 0!important;
}

.accordeon.sortable-chosen.sortable-drag,
.item.sortable-chosen.sortable-drag {
	z-index: 2!important;
}

.accordeon .poignee-accordeon,
.item .poignee {
	text-align: center;
	font-size: 24px;
	width: 24px;
	cursor: move;
}

.item .reponse {
	text-align: center;
	font-size: 24px;
	width: 24px;
	cursor: pointer;
	margin-right: 4px;
}

.accordeon .poignee-accordeon {
	margin-left: -7px;
}

.item .conteneur-textarea {
	width: calc(100% - 112px);
}

.item .actions {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	font-size: 24px;
	width: 60px;
}

.question .actions label,
.item .actions label,
.item .actions span {
	cursor: pointer;
}

.item .actions .image {
	position: absolute;
	width: 30px;
    right: 30px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	height: 100%;
	cursor: pointer;
}

.item .actions .image + span {
	margin-left: 28px;
}

.accordeon .poignee-accordeon.desactive,
.item .poignee.desactive,
.item .actions span.desactive {
	color: #aaa;
	cursor: default;
}

.ajouter {
	display: block;
	text-align: center;
	width: 60px;
    font-size: 36px;
	cursor: pointer;
	line-height: 1;
    color: #00ced1;
    margin: 0 auto;
	cursor: pointer;
}

#modale-media img,
#modale-image img {
	max-height: calc(90vh - 145px);
}

#modale-media label,
#modale-image label {
	display: inline-block;
	width: auto;
	margin-bottom: 0;
}

#modale-ajouter-media .valider {
	display: flex;
}

#modale-ajouter-media .valider input {
	margin-bottom: 0;
}

#modale-ajouter-media .valider .bouton-secondaire {
	display: inline-block;
	font-size: 36px;
	cursor: pointer;
	color: #00ced1;
	user-select: none;
    margin-left: 5px;
    height: 46px;
}

#modale-ajouter-media .valider .bouton-secondaire i {
    line-height: 46px;
}

#modale-ajouter-media .separateur {
    position: relative;
    margin: 20px 25% 20px;
    text-align: center;
    width: 50%;
}

#modale-ajouter-media .separateur::before {
    position: absolute;
    top: 50%;
    display: block;
    content: '';
    width: 100%;
    height: 1px;
    background-color: #ddd;
}

#modale-ajouter-media .separateur span {
    position: relative;
    margin: 0;
    font-size: 16px;
    z-index: 2;
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
    vertical-align: middle;
    background-color: #fff;
}

#modale-ajouter-media .bouton {
    text-align: center;
}
</style>
