<template>
	<div id="remue-meninges">
		<div id="question">
			<div class="question-et-support" v-if="question !== '' && Object.keys(support).length > 0">
				<span class="question">{{ question }}</span>
				<span class="support" @click="afficherImage($event, '/fichiers/' + code + '/' + support.image)" :title="$t('afficherImage')"><img :src="'/fichiers/' + code + '/' + support.image" :alt="support.alt"></span>
			</div>
			<div class="question" v-else-if="question !== ''">
				{{ question }}
			</div>
			<div class="support" v-else-if="Object.keys(support).length > 0">
				<img :src="'/fichiers/' + code + '/' + support.image" :alt="support.alt" @click="afficherImage($event, '/fichiers/' + code + '/' + support.image)" :title="$t('afficherImage')">
			</div>
		</div>

		<div id="message">
			<div class="conteneur-textarea">
				<textarea-autosize v-model="texte" :rows="2" :min-height="46" :max-height="124" :placeholder="$t('votreMessage')" />
			</div>
			<div id="categories" v-if="categories.length > 0">
				<h3>{{ $t('categorie') }}</h3>
				<div id="conteneur-categories" v-if="categories.length > 0">
					<template v-for="(cat, indexCat) in categories">
						<label class="bouton-radio avec-image" v-if="cat.texte !== '' && cat.image !== ''" :key="'categorie_' + indexCat"><span class="image"><img :src="'/fichiers/' + code + '/' + cat.image" :alt="cat.alt" :style="{'border': '2px solid' + couleurs[indexCat]}" @click="afficherImage($event, '/fichiers/' + code + '/' + cat.image)" :title="$t('afficherImage')"></span><span class="texte" :style="{'color': couleurs[indexCat]}">{{ cat.texte }}</span>
							<input type="radio" name="categorie" :checked="categorie === cat.texte" @change="categorie = cat.texte">
							<span class="coche" />
						</label>
						<label class="bouton-radio" v-else-if="cat.texte !== ''" :style="{'color': couleurs[indexCat]}" :key="'categorie_' + indexCat">{{ cat.texte }}
							<input type="radio" name="categorie" :checked="categorie === cat.texte" @change="categorie = cat.texte">
							<span class="coche" />
						</label>
						<label class="bouton-radio avec-image" v-else-if="cat.image !== ''" :key="'categorie_' + indexCat"><span class="image"><img :src="'/fichiers/' + code + '/' + cat.image" :alt="cat.alt" :style="{'border': '2px solid' + couleurs[indexCat]}" @click="afficherImage($event, '/fichiers/' + code + '/' + cat.image)" :title="$t('afficherImage')"></span>
							<input type="radio" name="categorie" :checked="categorie === cat.image" @change="categorie = cat.image">
							<span class="coche" />
						</label>
					</template>
				</div>
			</div>
			<div class="actions">
				<span class="bouton" role="button" tabindex="0" @click="envoyerReponse">{{ $t('envoyer') }}</span>
			</div>
		</div>

		<div id="messages" v-if="messages.length > 0">
			<h3 v-if="messages.length === 1">{{ $t('messageEnvoye') }}</h3>
			<h3 v-else>{{ $t('messagesEnvoyes') }}</h3>
			<ul v-if="categories.length > 0">
				<li v-for="(message, indexMessage) in messages" :style="{'color': definirCouleurCategorie(message.categorie), 'background': eclaircirCouleur(definirCouleurCategorie(message.categorie))}" :key="'message_' + indexMessage">
					<span v-if="message.visible">{{ message.texte }}</span>
					<span v-else><del>{{ message.texte }}</del></span>
				</li>
			</ul>
			<ul v-else>
				<li v-for="(message, indexMessage) in messages" :key="'message_' + indexMessage">
					<span v-if="message.visible">{{ message.texte }}</span>
					<span v-else><del>{{ message.texte }}</del></span>
				</li>
			</ul>
		</div>

		<div class="conteneur-modale" v-if="modale === 'image'">
			<div id="modale-image" class="modale">
				<div class="conteneur">
					<div class="contenu">
						<img :src="image" :alt="$t('image')">
						<div class="actions">
							<span class="bouton" role="button" tabindex="0" @click="fermerModaleImage">{{ $t('fermer') }}</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
export default {
	name: 'RemueMeningesParticiper',
	props: {
		code: String,
		donnees: Object,
		reponses: Array,
		statut: String,
		session: Number
	},
	sockets: {
		reponseenvoyee: function () {
			this.texte = ''
		}
	},
	data () {
		return {
			question: '',
			support: {},
			categories: [],
			couleurs: ['#27ae60', '#2980b9', '#8e44ad', '#f39c12', '#d35400', '#b71540', '#535c68', '#273c75'],
			categorie: '',
			texte: '',
			modale: '',
			image: ''
		}
	},
	computed: {
		hote () {
			return this.$store.state.hote
		},
		identifiant () {
			return this.$store.state.identifiant
		},
		nom () {
			return this.$store.state.nom
		},
		messages () {
			const messages = []
			this.reponses.forEach(function (item) {
				if (item.identifiant === this.identifiant) {
					messages.push({ texte: item.reponse.texte, categorie: item.reponse.categorie, visible: item.reponse.visible })
				}
			}.bind(this))
			return messages
		}
	},
	created () {
		this.question = this.donnees.question
		this.support = this.donnees.support
		this.categories = this.donnees.categories.filter(function (categorie) {
			return categorie.texte !== '' || categorie.image !== ''
		})
		if (this.categories.length > 0 && this.categories[0].texte !== '') {
			this.categorie = this.categories[0].texte
		} else if (this.categories.length > 0 && this.categories[0].image !== '') {
			this.categorie = this.categories[0].image
		}
	},
	methods: {
		envoyerReponse () {
			if (this.texte.trim() !== '') {
				const id = Date.now().toString(36) + Math.random().toString(36).substr(2)
				this.$emit('validation', { reponse: { id: id, texte: this.texte.trim(), categorie: this.categorie, visible: true }, identifiant: this.identifiant, nom: this.nom })
				this.texte = ''
			}
		},
		definirCouleurCategorie (categorie) {
			let couleur
			this.categories.forEach(function (item, index) {
				if (item.texte === categorie || item.image === categorie) {
					couleur = this.couleurs[index]
				}
			}.bind(this))
			return couleur
		},
		afficherImage (event, image) {
			event.preventDefault()
			event.stopPropagation()
			this.image = image
			this.modale = 'image'
		},
		fermerModaleImage () {
			this.modale = ''
			this.image = ''
		},
		eclaircirCouleur (hex) {
			const r = parseInt(hex.slice(1, 3), 16)
			const v = parseInt(hex.slice(3, 5), 16)
			const b = parseInt(hex.slice(5, 7), 16)
			return 'rgba(' + r + ', ' + v + ', ' + b + ', ' + 0.1 + ')'
		}
	}
}
</script>

<style scoped>
#remue-meninges {
	width: 100%;
	max-width: 1024px;
	padding: 0 20px;
	margin: 40px auto 20px;
}

#question {
	margin: 0 0 40px;
}

#question .question {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2.7rem;
	font-weight: 700;
	line-height: 1.25;
}

#question .question-et-support {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#question .question-et-support .question {
	width: calc(100% - (10rem + 20px));
}

#question .question-et-support .support {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 0;
	width: 10rem;
	height: 10rem;
	margin-left: 20px;
	cursor: zoom-in;
}

#question .question-et-support .support img {
	max-width: 10rem;
	max-height: 10rem;
	border-radius: 5px;
}

#question .support {
	text-align: center;
}

#question .support img {
	max-width: 100%;
	max-height: 20rem;
	border-radius: 5px;
	cursor: zoom-in;
}

#message .conteneur-textarea {
    position: relative;
    min-height: 46px;
    max-height: 124px;
}

#message .conteneur-textarea > textarea {
	display: block;
    width: 100%;
    font-weight: 400;
    font-size: 16px;
    text-align: left;
    border-radius: 4px;
    cursor: text;
    background: #fff;
    resize: none;
    max-width: 100%;
    border: 1px solid #ddd;
    padding: 10px 15px;
}

#messages > h3,
#categories > h3 {
	font-size: 16px;
    font-weight: 700;
    display: block;
    margin: 20px 0 10px;
}

#message .bouton-radio {
	font-weight: 400;
}

#message #conteneur-categories {
	display: inline-flex;
	justify-content: flex-start;
}

#message .bouton-radio.avec-image {
	display: inline-flex;
	justify-content: flex-start;
	align-items: center;
	height: 5rem;
}

#message .bouton-radio.avec-image .coche {
	top: 50%;
	margin-top: -11px;
}

#message .bouton-radio .image {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	height: 5rem;
	max-width: 5rem;
}

#message .bouton-radio .image img {
	max-height: 5rem;
	max-width: 5rem;
	border-radius: 4px;
	cursor: zoom-in;
}

#message .bouton-radio .texte {
	margin-left: 5px;
}

#message .actions {
	text-align: center;
	margin-top: 5px;
}

#message .bouton {
	display: inline-block;
	font-weight: 700;
	font-size: 18px;
	text-transform: uppercase;
	height: 40px;
	line-height: 40px;
	padding: 0 50px;
	cursor: pointer;
	color: #fff;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
	background: #009688;
	border-radius: 2em;
	letter-spacing: 1px;
	text-indent: 1px;
	transition: background-color 0.1s ease-in;
}

#message .bouton:hover {
	background: #00a695;
}

#message #categories + .actions {
	margin-top: 10px;
}

#message .conteneur-textarea + .actions {
	margin-top: 20px;
}

#messages {
	margin-top: 40px;
	margin-bottom: 30px;
}

#messages ul {
	padding: 5px 0 0;
}

#messages li {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 5px 10px;
	background: #eee;
	border-radius: 4px;
	margin-bottom: 10px;
	font-size: 16px;
	font-weight: 400;
}

#modale-image img {
	max-height: calc(90vh - 100px);
}
</style>
