<template>
	<div id="sondage">
		<div id="question">
			<div class="question-et-support" v-if="question !== '' && Object.keys(support).length > 0">
				<span class="question">{{ question }}</span>
				<span class="support" @click="afficherImage($event, '/fichiers/' + code + '/' + support.image)" :title="$t('afficherImage')"><img :src="'/fichiers/' + code + '/' + support.image" :alt="support.alt"></span>
			</div>
			<div class="question" v-else-if="question !== ''">
				{{ question }}
			</div>
			<div class="support" v-else-if="Object.keys(support).length > 0">
				<img :src="'/fichiers/' + code + '/' + support.image" :alt="support.alt" @click="afficherImage($event, '/fichiers/' + code + '/' + support.image)" :title="$t('afficherImage')">
			</div>
		</div>

		<div id="items">
			<template v-for="(item, index) in items">
				<label :id="'item' + index" class="item" :class="{'desactive': validation === 'reponse-envoyee'}" v-if="item.texte !== '' || item.image !== ''" :key="'item_' + index">
					<span class="icone material-icons" v-if="option === 'choix-unique' && !reponse.includes(item.texte) && !reponse.includes(item.image)">radio_button_unchecked</span>
					<span class="icone material-icons" v-else-if="option === 'choix-multiples' && !reponse.includes(item.texte) && !reponse.includes(item.image)">check_box_outline_blank</span>
					<span class="icone material-icons" v-else-if="option === 'choix-unique' && (reponse.includes(item.texte) || reponse.includes(item.image))">radio_button_checked</span>
					<span class="icone material-icons" v-else-if="option === 'choix-multiples' && (reponse.includes(item.texte) || reponse.includes(item.image))">check_box</span>
					<span class="image" v-if="item.image !== ''" @click="afficherImage($event, '/fichiers/' + code + '/' + item.image)" :title="$t('afficherImage')"><img :src="'/fichiers/' + code + '/' + item.image" :alt="item.alt"></span>
					<span class="texte" v-if="item.texte !== ''">{{ item.texte }}</span>
					<input type="radio" name="item" :value="item.texte" @change="definirReponse" :disabled="validation === 'reponse-envoyee'" style="display: none;" v-if="option === 'choix-unique' && item.texte !== ''">
					<input type="checkbox" name="item" :value="item.texte" @change="definirReponse" :disabled="validation === 'reponse-envoyee'" style="display: none;" v-else-if="option === 'choix-multiples' && item.texte !== ''">
					<input type="radio" name="item" :value="item.image" @change="definirReponse" :disabled="validation === 'reponse-envoyee'" style="display: none;" v-else-if="option === 'choix-unique' && item.image !== ''">
					<input type="checkbox" name="item" :value="item.image" @change="definirReponse" :disabled="validation === 'reponse-envoyee'" style="display: none;" v-else-if="option === 'choix-multiples' && item.image !== ''">
				</label>
			</template>
		</div>

		<div class="conteneur-modale" v-if="modale === 'image'">
			<div id="modale-image" class="modale">
				<div class="conteneur">
					<div class="contenu">
						<img :src="image" :alt="$t('image')">
						<div class="actions">
							<span class="bouton" role="button" tabindex="0" @click="fermerModaleImage">{{ $t('fermer') }}</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
export default {
	name: 'SondageParticiper',
	props: {
		code: String,
		donnees: Object,
		reponses: Array,
		statut: String,
		session: Number,
		validation: String
	},
	data () {
		return {
			question: '',
			support: {},
			option: '',
			items: [],
			reponse: [],
			modale: '',
			image: ''
		}
	},
	computed: {
		hote () {
			return this.$store.state.hote
		},
		identifiant () {
			return this.$store.state.identifiant
		},
		nom () {
			return this.$store.state.nom
		}
	},
	watch: {
		validation: function (valeur) {
			if (valeur === 'validation') {
				this.$emit('validation', { reponse: this.reponse, identifiant: this.identifiant, nom: this.nom })
			} else if (valeur === '') {
				this.reponse = []
			}
		}
	},
	created () {
		this.question = this.donnees.question
		this.support = this.donnees.support
		this.option = this.donnees.option
		this.items = this.donnees.items
		this.reponses.forEach(function (item) {
			if (item.identifiant === this.identifiant) {
				this.reponse = item.reponse
			}
		}.bind(this))
	},
	methods: {
		definirReponse (event) {
			if (this.option === 'choix-unique') {
				this.reponse = []
				this.reponse.push(event.target.value)
			} else {
				if (event.target.checked === true) {
					this.reponse.push(event.target.value)
				} else {
					const index = this.reponse.indexOf(event.target.value)
					this.reponse.splice(index, 1)
				}
			}
		},
		afficherImage (event, image) {
			event.preventDefault()
			event.stopPropagation()
			this.image = image
			this.modale = 'image'
		},
		fermerModaleImage () {
			this.modale = ''
			this.image = ''
		}
	}
}
</script>

<style scoped>
#sondage {
	width: 100%;
	max-width: 1024px;
	padding: 0 20px;
	margin: 40px auto 20px;
}

#question {
	margin: 0 0 40px;
}

#question .question {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2.7rem;
	font-weight: 700;
	line-height: 1.25;
}

#question .question-et-support {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#question .question-et-support .question {
	width: calc(100% - (10rem + 20px));
}

#question .question-et-support .support {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 0;
	width: 10rem;
	height: 10rem;
	margin-left: 20px;
	cursor: zoom-in;
}

#question .question-et-support .support img {
	max-width: 10rem;
	max-height: 10rem;
	border-radius: 5px;
}

#question .support {
	text-align: center;
}

#question .support img {
	max-width: 100%;
	max-height: 20rem;
	border-radius: 5px;
	cursor: zoom-in;
}

#items {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

#items .item {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	border: 1px solid #ddd;
	padding: 15px 20px;
	border-radius: 1em;
	margin: 0 0 20px;
	width: 100%;
	cursor: pointer;
	transition: background-color ease-in 0.1s;
}

#items .item.desactive {
	cursor: default;
}

#items .item:not(.desactive):hover {
	background: #f3f5f8;
}

#items .item .icone {
	margin-right: 20px;
	font-size: 24px;
}

#items .item .image {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 0;
	width: 10rem;
	height: 10rem;
	margin-right: 20px;
	cursor: zoom-in;
}

#items .item .image img {
	max-width: 10rem;
	max-height: 10rem;
	border-radius: 5px;
}

#items .item .texte {
	font-size: 2.3rem;
	font-weight: 400;
	line-height: 1.25;
}

#items .item .icone + .texte {
	width: calc(100% - 44px);
}

#items .item .image + .texte {
	width: calc(100% - (10rem + 64px));
}

#modale-image img {
	max-height: calc(90vh - 100px);
}
</style>
