<template>
	<div id="sondage">
		<div id="question">
			<div class="question-et-support" v-if="question !== '' && Object.keys(support).length > 0">
				<span class="question">{{ question }}</span>
				<span class="support" @click="afficherImage($event, '/fichiers/' + code + '/' + support.image)"><img :src="'/fichiers/' + code + '/' + support.image" :alt="support.alt"></span>
			</div>
			<div class="question" v-else-if="question !== ''">
				{{ question }}
			</div>
			<div class="support" v-else-if="Object.keys(support).length > 0">
				<img :src="'/fichiers/' + code + '/' + support.image" :alt="support.alt" @click="afficherImage($event, '/fichiers/' + code + '/' + support.image)">
			</div>
		</div>

		<div id="conteneur-items" class="ascenseur" :style="{'height': hauteur + 'px'}">
			<div id="items" class="resultats" v-if="resultats && !classementResultats">
				<template v-for="(item, index) in items">
					<div :id="'item' + index" class="item" :class="{'reponse': statistiques.pourcentages[index] > 0}" v-if="item.texte !== '' || item.image !== ''" :key="'item_' + index">
						<div class="progression" :style="{'width': statistiques.pourcentages[index] + '%'}" />
						<div class="contenu">
							<span class="index">{{ alphabet[index].toUpperCase() }}</span>
							<span class="image" @click="afficherImage($event, '/fichiers/' + code + '/' + item.image)" v-if="item.image !== ''"><img :src="'/fichiers/' + code + '/' + item.image" :alt="item.alt"></span>
							<span class="texte" v-if="item.texte !== ''">{{ item.texte }}</span>
						</div>
						<div class="statistiques">
							<span class="personnes">{{ statistiques.personnes[index] }} <i class="material-icons">person</i></span>
							<span class="pourcentages">{{ statistiques.pourcentages[index] }}%</span>
						</div>
					</div>
				</template>
			</div>
			<div id="items" class="resultats" v-else-if="resultats && classementResultats">
				<template v-for="(item, index) in itemsClasses">
					<div :id="'item' + index" class="item" :class="{'reponse': item.pourcentages > 0}" v-if="item.texte !== '' || item.image !== ''" :key="'item_' + index">
						<div class="progression" :style="{'width': item.pourcentages + '%'}" />
						<div class="contenu">
							<span class="index">{{ item.alphabet.toUpperCase() }}</span>
							<span class="image" @click="afficherImage($event, '/fichiers/' + code + '/' + item.image)" v-if="item.image !== ''"><img :src="'/fichiers/' + code + '/' + item.image" :alt="item.alt"></span>
							<span class="texte" v-if="item.texte !== ''">{{ item.texte }}</span>
						</div>
						<div class="statistiques">
							<span class="personnes">{{ item.personnes }} <i class="material-icons">person</i></span>
							<span class="pourcentages">{{ item.pourcentages }}%</span>
						</div>
					</div>
				</template>
			</div>
			<div id="items" v-else>
				<div :id="'item' + index" class="item" v-for="(item, index) in items" :key="'item_' + index">
					<span class="index">{{ alphabet[index].toUpperCase() }}</span>
					<span class="image" @click="afficherImage($event, '/fichiers/' + code + '/' + item.image)" v-if="item.image !== ''"><img :src="'/fichiers/' + code + '/' + item.image" :alt="item.alt"></span>
					<span class="texte" v-if="item.texte !== ''">{{ item.texte }}</span>
				</div>
			</div>
		</div>

		<div class="conteneur-modale" v-if="modale === 'image'">
			<div id="modale-image" class="modale">
				<div class="conteneur">
					<div class="contenu">
						<img :src="image" :alt="$t('image')">
						<div class="actions">
							<span class="bouton" role="button" tabindex="0" @click="fermerModaleImage">{{ $t('fermer') }}</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
export default {
	name: 'SondageAfficher',
	props: {
		code: String,
		donnees: Object,
		reponses: Array,
		statut: String,
		resultats: Boolean,
		classementResultats: Boolean
	},
	data () {
		return {
			question: '',
			support: {},
			option: '',
			items: [],
			modale: '',
			image: '',
			hauteur: 0,
			alphabet: ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z']
		}
	},
	computed: {
		hote () {
			return this.$store.state.hote
		},
		statistiques () {
			const total = this.reponses.length
			const personnes = []
			const pourcentages = []
			for (let i = 0; i < this.items.length; i++) {
				personnes.push(0)
				pourcentages.push(0)
			}
			this.items.forEach(function (item, index) {
				let reponses = 0
				this.reponses.forEach(function (donnees) {
					donnees.reponse.forEach(function (reponse) {
						if (reponse === item.texte || reponse === item.image) {
							reponses++
						}
					})
				})
				if (reponses > 0) {
					personnes[index] = reponses
					const pourcentage = (reponses / total) * 100
					pourcentages[index] = Math.round(pourcentage)
				}
			}.bind(this))
			return { personnes: personnes, pourcentages: pourcentages }
		},
		itemsClasses () {
			const items = JSON.parse(JSON.stringify(this.items))
			items.forEach(function (item, index) {
				item.personnes = this.statistiques.personnes[index]
				item.pourcentages = this.statistiques.pourcentages[index]
				item.alphabet = this.alphabet[index]
			}.bind(this))
			items.sort(function (a, b) {
				return b.personnes - a.personnes
			})
			return items
		}
	},
	created () {
		this.question = this.donnees.question
		this.support = this.donnees.support
		this.option = this.donnees.option
		this.items = this.donnees.items
	},
	mounted () {
		this.verifierHauteur()
		window.addEventListener('resize', this.verifierHauteur, false)
	},
	beforeDestroy () {
		window.removeEventListener('resize', this.verifierHauteur, false)
	},
	methods: {
		afficherImage (event, image) {
			event.preventDefault()
			event.stopPropagation()
			this.image = image
			this.modale = 'image'
		},
		fermerModaleImage () {
			this.modale = ''
			this.image = ''
		},
		verifierHauteur () {
			const hauteur = document.querySelector('#conteneur').clientHeight - (document.querySelector('#question').clientHeight + 80)
			this.hauteur = hauteur
		}
	}
}
</script>

<style scoped>
#question {
	width: 100%;
	max-width: 1024px;
	padding: 0 20px;
	margin: 40px auto;
}

#question .question {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2.7rem;
	font-weight: 700;
	line-height: 1.25;
}

#question .question-et-support {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#question .question-et-support .question {
	width: calc(100% - (10rem + 20px));
}

#question .question-et-support .support {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 0;
	width: 10rem;
	height: 10rem;
	margin-left: 20px;
	cursor: zoom-in;
}

#question .question-et-support .support img {
	max-width: 10rem;
	max-height: 10rem;
	border-radius: 5px;
}

#question .support {
	text-align: center;
}

#question .support img {
	max-width: 100%;
	max-height: 12rem;
	border-radius: 5px;
	cursor: zoom-in;
}

#conteneur-items {
	overflow: auto;
	-webkit-overflow-scrolling: touch;
}

#items {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	width: 100%;
	max-width: 1024px;
	padding: 0 20px;
	margin: 0 auto;
}

#items .item {
	position: relative;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	border: 1px solid #ddd;
	padding: 15px 20px;
	border-radius: 1em;
	margin: 0 0 20px;
    width: 100%;
}

#items .item.reponse {
	border: 1px solid #242f3d;
}

#items .item .index {
	width: 4rem;
	height: 4rem;
	border-radius: 50%;
	color: #fff;
	background: #00ced1;
	font-size: 2.4rem;
	font-weight: 400;
	text-align: center;
	line-height: 4rem;
	margin-right: 20px;
}

#items .item .image {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 0;
	width: 7rem;
	height: 7rem;
	margin-right: 20px;
	cursor: zoom-in;
}

#items .item .image img {
	max-width: 7rem;
	max-height: 7rem;
	border-radius: 5px;
}

#items .item .texte {
	font-size: 2.3rem;
	font-weight: 400;
	line-height: 1.25;
}

#items .item .index + .texte {
	width: calc(100% - (4rem + 20px));
}

#items .item .image + .texte {
	width: calc(100% - (11rem + 40px));
}

#items.resultats .item .contenu {
	position: relative;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	width: calc(100% - (6rem + 15px));
	z-index: 1;
}

#items.resultats .item .statistiques {
	display: flex;
	flex-wrap: wrap;
    width: calc(6rem + 15px);
    height: 100%;
    font-size: 2rem;
    font-weight: 400;
	padding-left: 15px;
	margin-left: 15px;
	border-left: 1px solid #ddd;
	z-index: 1;
}

#items.resultats .item.reponse .statistiques {
	border-left: 1px solid #242f3d;
}

#items.resultats .item .statistiques span {
    width: 100%;
}

#items.resultats .item .progression {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
	background: rgba(0, 206, 209, 0.2);
	border-radius: 1em;
}

#modale-image img {
	max-height: calc(90vh - 100px);
}

@media screen and (max-width: 599px) {
	#items.resultats .item {
		flex-wrap: wrap;
	}

	#items.resultats .item .contenu {
		width: 100%;
	}

	#items.resultats .item .statistiques {
		flex-wrap: nowrap;
		width: 100%;
		height: auto;
		padding-left: 0;
		margin-left: 0;
		border-left: 0;
		padding-top: 15px;
		margin-top: 15px;
		border-top: 1px solid #ddd;
		line-height: 1;
	}

	#items.resultats .item .statistiques span {
		text-align: center;
	}

	#items.resultats .item.reponse .statistiques {
		border-left: 0;
		border-top: 1px solid #242f3d;
	}
}
</style>
