<template>
	<div id="page">
		<div id="interaction">
			<header>
				<div id="conteneur-header">
					<a id="logo" :href="hote" />

					<div id="titre">
						<span>{{ titre }}</span>
					</div>

					<div id="parametres">
						<span role="button" :title="$t('afficherParametres')"><i class="material-icons" @click="afficherModaleParametres">settings</i></span>
					</div>
				</div>
			</header>

			<transition-group name="fondu">
				<div id="conteneur" class="ascenseur" :class="{'sans-footer': type === 'Remue-méninges' || (type === 'Questionnaire' && statut === 'ouvert' && donnees.options.progression === 'animateur' && indexQuestion === -1)}" v-if="statut === 'ouvert'" key="conteneur-ouvert">
					<sondageParticiper :code="code" :donnees="donnees" :reponses="reponsesSession" :statut="statut" :session="session" :validation="validation" @validation="envoyerReponse" v-if="type === 'Sondage'" />
					<remueMeningesParticiper :code="code" :donnees="donnees" :reponses="reponsesSession" :statut="statut" :session="session" @validation="envoyerReponseRemueMeninges" v-else-if="type === 'Remue-méninges'" />
					<questionnaireParticiper :code="code" :donnees="donnees" :reponses="reponsesSession" :statut="statut" :session="session" :index-question="indexQuestion" :date="date" :validation="validation" :reponse-envoyee="reponseEnvoyee" :classement="classement" @validation="envoyerReponse" @index="modifierIndexQuestion('suivante')" v-else-if="type === 'Questionnaire'" />
				</div>

				<div id="conteneur" class="interaction-fermee" v-else key="conteneur-ferme">
					<div class="section">
						<div class="information" v-if="type === 'Sondage'">
							{{ $t('sondagePasOuvert') }}
						</div>
						<div class="information" v-else-if="type === 'Remue-méninges'">
							{{ $t('remueMeningesPasOuvert') }}
						</div>
						<div class="information" v-else-if="type === 'Questionnaire' && statut !== 'attente'">
							{{ $t('questionnairePasOuvert') }}
						</div>
						<div class="information" v-else-if="type === 'Questionnaire' && statut === 'attente'">
							{{ $t('questionnaireAttenteOuverture') }}
						</div>
						<div class="points">
							<span class="point" />
							<span class="point" />
							<span class="point" />
						</div>
					</div>
				</div>

				<footer v-if="type === 'Sondage' && statut === 'ouvert'" key="footer">
					<div class="section">
						<span class="bouton" role="button" tabindex="0" @click="valider" v-if="validation !== 'reponse-envoyee'">{{ $t('valider') }}</span>
						<span class="reponse" v-else>{{ $t('reponseEnvoyee') }}</span>
					</div>
				</footer>
				<footer v-else-if="type === 'Questionnaire' && statut === 'ouvert' && (donnees.options.progression === 'libre' || (donnees.options.progression === 'animateur' && indexQuestion > -1))" key="footer">
					<div class="section" :class="{'boutons': donnees.options.progression === 'libre'}">
						<span class="bouton icone" :class="{'visible': (donnees.description === '' && Object.keys(donnees.support).length === 0 && indexQuestion > 0) || ((donnees.description !== '' || Object.keys(donnees.support).length > 0) && indexQuestion > -1 )}" role="button" :title="$t('questionPrecedente')" @click="modifierIndexQuestion('precedente')" v-if="donnees.options.progression === 'libre'"><i class="material-icons">arrow_back</i></span>
						<span class="bouton" role="button" tabindex="0" @click="valider" v-if="donnees.options.progression === 'animateur' && reponseEnvoyee[indexQuestion] !== 'reponse-envoyee'">{{ $t('valider') }}</span>
						<span class="reponse" v-else-if="donnees.options.progression === 'animateur' && reponseEnvoyee[indexQuestion] === 'reponse-envoyee'">{{ $t('reponseEnvoyee') }}</span>
						<span class="bouton icone" :class="{'visible': indexQuestion < donnees.questions.length - 1}" role="button" :title="$t('questionSuivante')" @click="modifierIndexQuestion('suivante')" v-if="donnees.options.progression === 'libre'"><i class="material-icons">arrow_forward</i></span>
					</div>
				</footer>
			</transition-group>
		</div>

		<chargement :chargement="chargement" v-if="chargement" />

		<div class="conteneur-modale" v-if="modale === 'parametres'">
			<div id="modale-parametres" class="modale">
				<header>
					<span class="titre">{{ $t('parametres') }}</span>
					<span class="fermer" role="button" @click="fermerModaleParametres"><i class="material-icons">close</i></span>
				</header>
				<div class="conteneur">
					<div class="contenu">
						<label>{{ $t('langue') }}</label>
						<div class="langue">
							<span role="button" :class="{'selectionne': langue === 'fr'}" @click="modifierLangue('fr')">FR</span>
							<span role="button" :class="{'selectionne': langue === 'en'}" @click="modifierLangue('en')">EN</span>
						</div>
						<label>{{ $t('nomOuPseudo') }}</label>
						<input type="text" :value="nom">
						<div class="actions">
							<span class="bouton" role="button" tabindex="0" @click="modifierNom">{{ $t('valider') }}</span>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="conteneur-modale" v-else-if="modale === 'nom'">
			<div id="modale-nom" class="modale">
				<div class="conteneur">
					<div class="contenu">
						<label>{{ $t('nomOuPseudo') }}</label>
						<input type="text" :value="nom">
						<div class="actions">
							<span class="bouton" role="button" tabindex="0" @click="modifierNom">{{ $t('valider') }}</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
import axios from 'axios'
import chargement from '@/components/chargement.vue'
import sondageParticiper from '@/components/sondageParticiper.vue'
import remueMeningesParticiper from '@/components/remueMeningesParticiper.vue'
import questionnaireParticiper from '@/components/questionnaireParticiper.vue'

export default {
	name: 'Participer',
	components: {
		chargement,
		sondageParticiper,
		remueMeningesParticiper,
		questionnaireParticiper
	},
	sockets: {
		interactionouverte: function (interaction) {
			this.statut = 'ouvert'
			this.titre = interaction.titre
			this.donnees = interaction.donnees
			this.session = interaction.session
			this.validation = ''
			this.reponsesSession = []
			if (this.type === 'Questionnaire') {
				this.indexQuestion = this.donnees.copieIndexQuestion
				const reponseEnvoyee = []
				this.donnees.questions.forEach(function () {
					reponseEnvoyee.push('')
				})
				this.reponseEnvoyee = reponseEnvoyee
				if (this.donnees.options.progression === 'animateur') {
					this.date = interaction.date
					localStorage.setItem('date', interaction.date)
				}
			}
			if (this.donnees.options.nom === 'facultatif' && this.modale === 'nom') {
				this.modale = ''
			} else if (this.donnees.options.nom === 'obligatoire' && this.donnees.options.progression === 'libre') {
				this.modale = 'nom'
			}
		},
		interactionenattente: function (donnees) {
			this.statut = 'attente'
			if (donnees.options.nom === 'obligatoire') {
				this.modale = 'nom'
			} else {
				this.modale = ''
			}
		},
		interactionverrouillee: function () {
			this.statut = 'verrouille'
		},
		interactiondeverrouillee: function () {
			this.statut = 'ouvert'
		},
		interactionfermee: function () {
			this.statut = 'termine'
		},
		questionsuivante: function (donnees) {
			this.date = donnees.date
			localStorage.setItem('date', donnees.date)
			this.indexQuestion = donnees.index
			this.classement = []
		},
		classement: function (donnees) {
			this.classement = donnees
		},
		reponseenvoyee: function (res) {
			this.chargement = false
			if (this.type === 'Sondage') {
				this.validation = 'reponse-envoyee'
			} else if (this.type === 'Questionnaire') {
				this.validation = ''
				res.donnees.reponse.forEach(function (reponse, index) {
					if (reponse.length > 0) {
						this.reponseEnvoyee.splice(index, 1, 'reponse-envoyee')
					}
				}.bind(this))
			}
		},
		reponses: function (donnees) {
			if (donnees.code === this.code && donnees.session === this.session) {
				this.reponsesSession = donnees.reponses
			}
		},
		erreur: function () {
			this.$store.dispatch('modifierMessage', this.$t('erreurCommunicationServeur'))
		},
		erreurcode: function () {
			this.$store.dispatch('modifierMessage', this.$t('codeNonValide'))
		}
	},
	watchQuery: ['page'],
	async asyncData (context) {
		const code = context.route.params.code
		const { data } = await axios.post(context.store.state.hote + '/api/recuperer-donnees-interaction', {
			code: code
		}, {
			headers: { 'Content-Type': 'application/json' }
		})
		if (data === 'erreur') {
			context.redirect('/')
		} else {
			return {
				code: code,
				type: data.type,
				titre: data.titre,
				donnees: data.donnees,
				reponses: data.reponses,
				statut: data.statut,
				session: data.session
			}
		}
	},
	data () {
		return {
			chargement: false,
			modale: '',
			validation: '',
			reponsesSession: [],
			reponseEnvoyee: [],
			indexQuestion: -1,
			date: 0,
			classement: []
		}
	},
	computed: {
		hote () {
			return this.$store.state.hote
		},
		identifiant () {
			return this.$store.state.identifiant
		},
		nom () {
			return this.$store.state.nom
		},
		langue () {
			return this.$store.state.langue
		}
	},
	created () {
		this.$nuxt.$loading.start()
		this.$socket.emit('connexion', { code: this.code, identifiant: this.identifiant, nom: this.nom })
		if (this.reponses[this.session]) {
			this.reponsesSession = this.reponses[this.session]
		}
		if (this.type === 'Sondage') {
			this.reponsesSession.forEach(function (item) {
				if (item.identifiant === this.identifiant) {
					this.validation = 'reponse-envoyee'
				}
			}.bind(this))
		} else if (this.type === 'Questionnaire') {
			this.indexQuestion = parseInt(this.donnees.indexQuestion)
			const reponseEnvoyee = []
			this.donnees.questions.forEach(function () {
				reponseEnvoyee.push('')
			})
			this.reponsesSession.forEach(function (item) {
				if (item.identifiant === this.identifiant) {
					item.reponse.forEach(function (reponse, index) {
						if (reponse.length > 0) {
							reponseEnvoyee.splice(index, 1, 'reponse-envoyee')
						}
					})
				}
			}.bind(this))
			this.reponseEnvoyee = reponseEnvoyee
			if (this.donnees.options.nom === 'obligatoire' && this.nom === '' && (this.statut === 'attente' || this.statut === 'ouvert')) {
				this.modale = 'nom'
			}
		}
		this.$i18n.setLocale(this.langue)
	},
	mounted () {
		if (this.type === 'Questionnaire' && this.statut === 'ouvert' && this.donnees.options.progression === 'animateur' && localStorage.getItem('date')) {
			this.date = parseInt(localStorage.getItem('date'))
		}
		setTimeout(function () {
			this.$nuxt.$loading.finish()
		}.bind(this), 100)
		window.addEventListener('beforeunload', this.quitterPage, false)
	},
	beforeDestroy () {
		window.removeEventListener('beforeunload', this.quitterPage, false)
	},
	methods: {
		afficherModaleParametres () {
			this.modale = 'parametres'
			this.$nextTick(function () {
				document.querySelector('#modale-parametres input').focus()
			})
		},
		fermerModaleParametres () {
			this.modale = ''
		},
		afficherModaleNom () {
			this.modale = 'nom'
			this.$nextTick(function () {
				document.querySelector('#modale-nom input').focus()
			})
		},
		modifierLangue (langue) {
			if (this.langue !== langue) {
				this.chargement = true
				axios.post(this.hote + '/api/modifier-langue', {
					identifiant: this.identifiant,
					langue: langue
				}).then(function () {
					this.$i18n.setLocale(langue)
					this.$store.dispatch('modifierLangue', langue)
					this.$store.dispatch('modifierNotification', this.$t('langueModifiee'))
					this.chargement = false
				}.bind(this)).catch(function () {
					this.chargement = false
					this.$store.dispatch('modifierMessage', this.$t('erreurCommunicationServeur'))
				}.bind(this))
			}
		},
		modifierNom () {
			let nom = ''
			if (this.modale === 'nom') {
				nom = document.querySelector('#modale-nom input').value
			} else if (this.modale === 'parametres') {
				nom = document.querySelector('#modale-parametres input').value
			}
			if (nom !== '' && this.nom !== nom) {
				this.modale = ''
				this.chargement = true
				axios.post(this.hote + '/api/modifier-nom', {
					nom: nom
				}).then(function (reponse) {
					const donnees = reponse.data
					this.chargement = false
					if (donnees === 'nom_modifie') {
						this.$store.dispatch('modifierNom', nom)
						this.$store.dispatch('modifierNotification', this.$t('nomModifie'))
						this.$socket.emit('nom', { code: this.code, identifiant: this.identifiant, nom: nom })
					}
				}.bind(this)).catch(function () {
					this.chargement = false
					this.$store.dispatch('modifierMessage', this.$t('erreurCommunicationServeur'))
				}.bind(this))
			} else if (this.nom === nom) {
				this.modale = ''
			}
		},
		modifierIndexQuestion (direction) {
			if (direction === 'precedente' && ((this.donnees.description === '' && Object.keys(this.donnees.support).length === 0 && this.indexQuestion > 0) || ((this.donnees.description !== '' || Object.keys(this.donnees.support).length > 0) && this.indexQuestion > -1))) {
				this.indexQuestion--
			} else if (direction === 'suivante' && this.indexQuestion < this.donnees.questions.length - 1) {
				this.indexQuestion++
			}
		},
		valider () {
			this.validation = 'validation'
		},
		envoyerReponse (donnees) {
			if (donnees.reponse.length > 0) {
				this.chargement = true
				this.$socket.emit('reponse', { code: this.code, session: this.session, donnees: donnees })
			} else {
				this.validation = ''
			}
		},
		envoyerReponseRemueMeninges (donnees) {
			this.chargement = true
			this.$socket.emit('reponse', { code: this.code, session: this.session, donnees: donnees })
		},
		envoyerReponseQuestionnaire (donnees) {
			this.chargement = true
			this.$socket.emit('reponse', { code: this.code, session: this.session, donnees: donnees })
		},
		quitterPage () {
			this.$socket.emit('deconnexion')
		}
	},
	head () {
		return {
			title: this.titre + ' - Digistorm by La Digitale'
		}
	}
}
</script>

<style scoped>
#titre {
	width: calc(100% - 88px)!important;
}

#titre span {
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#parametres {
	font-size: 24px;
	line-height: 40px;
	margin-left: 20px;
	cursor: pointer;
}

#conteneur.sans-footer {
	height: calc(100% - 40px)!important;
	margin-bottom: 0!important;
}

#conteneur.interaction-fermee {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	align-items: center;
}

#conteneur.interaction-fermee .information {
	display: block;
	width: 100%;
	font-size: 25px;
	font-weight: 700;
	line-height: 1.4;
	margin-bottom: 40px;
	text-align: center;
}

#conteneur.interaction-fermee .points {
	display: flex;
	justify-content: center;
	width: 100%;
}

#conteneur.interaction-fermee .point {
	display: inline-block;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	margin-right: 15px;
	background: #00ced1;
	animation: vague 1.5s linear infinite;
}

#conteneur.interaction-fermee .point:nth-child(2) {
	animation-delay: -1.1s;
}

#conteneur.interaction-fermee .point:nth-child(3) {
	animation-delay: -0.7s;
}

#interaction footer .section {
	justify-content: center;
}

#interaction footer .section.boutons {
	justify-content: space-between;
}

#interaction footer .bouton:not(.icone) {
    font-size: 18px;
	padding: 0 50px;
	background: #009688;
}

#interaction footer .bouton:not(.icone):hover {
	background: #00a695;
}

#interaction footer .bouton.icone {
	visibility: hidden;
    font-size: 48px;
}

#interaction footer .bouton.icone.visible {
	visibility: visible;
}

#interaction footer .reponse {
    font-size: 2rem;
    font-weight: 700;
    color: #009688;
	line-height: 1;
}

@keyframes vague {
	0%, 60%, 100% {
		transform: initial;
	}
	30% {
		transform: translateY(-30px);
	}
}
</style>
