<template>
	<div id="page">
		<div id="interaction" v-if="statut === '' || statut === 'termine'">
			<header>
				<div id="conteneur-header">
					<a id="logo" :href="hote" />

					<div id="titre" class="edition" @click="afficherModaleTitre">
						<span class="titre">{{ titre }}</span>
						<span class="modifier" role="button" :title="$t('modifierTitre')"><i class="material-icons">edit</i></span>
					</div>

					<div id="parametres">
						<span role="button" :title="$t('modifierLangue')"><i class="material-icons" @click="afficherModaleParametres">language</i></span>
					</div>
				</div>
			</header>

			<div id="conteneur" class="ascenseur">
				<div class="section">
					<div class="informations">
						<div class="code">
							<span>{{ $t('codeParticipants') }}:</span>
							<span class="information">{{ code }}</span>
							<span id="copier" class="icone" role="button" :title="$t('copierLien')"><i class="material-icons">content_copy</i></span>
						</div>
						<div class="motdepasse">
							<span>{{ $t('motDePasseAdministration') }}:</span>
							<span class="information" v-if="visible">{{ motdepasse }}</span>
							<span class="information" v-else>****</span>
							<span class="icone" role="button" :title="$t('afficherMotDePasse')" @click="visible = true" v-if="!visible"><i class="material-icons">visibility</i></span>
							<span class="icone" role="button" :title="$t('cacherMotDePasse')" @click="visible = false" v-else><i class="material-icons">visibility_off</i></span>
						</div>
					</div>
					<div class="telecharger">
						<span role="button" tabindex="0" @click="telecharger">{{ $t('telechargerCodeEtMotDePasse') }}</span>
					</div>
				</div>

				<sondageCreer :code="code" :donnees="donnees" :statut="statut" :enregistrement="enregistrement" @enregistrement="enregistrerDonnees" v-if="type === 'Sondage'" />
				<remueMeningesCreer :code="code" :donnees="donnees" :statut="statut" :enregistrement="enregistrement" @enregistrement="enregistrerDonnees" v-else-if="type === 'Remue-méninges'" />
				<questionnaireCreer :code="code" :donnees="donnees" :statut="statut" :enregistrement="enregistrement" @enregistrement="enregistrerDonnees" v-else-if="type === 'Questionnaire'" />
			</div>

			<footer>
				<div class="section">
					<div class="gauche">
						<span class="bouton mobile" role="button" :title="$t('afficherResultats')" @click="afficherModaleResultats" v-if="Object.keys(reponses).length > 0"><i class="material-icons">equalizer</i><span>{{ $t('resultats') }}</span></span>
					</div>
					<div class="droite">
						<span class="bouton mobile" role="button" tabindex="0" @click="enregistrer('enregistrement')"><i class="material-icons">save</i><span>{{ $t('enregistrer') }}</span></span>
						<span class="bouton" role="button" tabindex="0" @click="enregistrer('lancement')">{{ $t('lancer') }}</span>
					</div>
				</div>
			</footer>
		</div>

		<div id="interaction" v-else>
			<header>
				<div id="conteneur-header">
					<a id="logo" :href="hote" />

					<div id="titre">
						<span class="code" @click="afficherModaleLien">digistorm.app/p/{{ code }}</span>
						<span id="copier" class="icone" role="button" :title="$t('copierLien')"><i class="material-icons">content_copy</i></span>
					</div>
				</div>
			</header>

			<div id="conteneur" class="interaction-ouverte">
				<sondageAfficher :code="code" :donnees="donnees" :reponses="reponsesSession" :statut="statut" :resultats="resultats" :classement-resultats="classementResultats" v-if="type === 'Sondage'" />
				<remueMeningesAfficher :code="code" :donnees="donnees" :reponses="reponsesSession" :statut="statut" :session="session" v-else-if="type === 'Remue-méninges'" />
				<questionnaireAfficher :code="code" :donnees="donnees" :reponses="reponsesSession" :statut="statut" :resultats="resultats" :utilisateurs="utilisateurs" :classement="classement" :index-question="indexQuestion" @demarrer="demarrer" @index="modifierIndexQuestion" @classement="afficherClassementCollectif" v-else-if="type === 'Questionnaire'" />
			</div>

			<footer>
				<div class="section">
					<span class="utilisateurs" role="button" :title="$t('afficherListeParticipants')" @click="afficherModaleUtilisateurs" v-if="type === 'Questionnaire' && donnees.options.nom === 'obligatoire'">{{ utilisateursConnectes.length }} <i class="material-icons">people</i></span>
					<span class="utilisateurs" v-else>{{ utilisateursConnectes.length }} <i class="material-icons">people</i></span>
					<span class="bouton icone" role="button" :title="$t('masquerResultats')" @click="masquerResultats" v-if="(type === 'Sondage' || type === 'Questionnaire' && donnees.options.progression === 'animateur') && resultats"><i class="material-icons">visibility_off</i></span>
					<span class="bouton icone masque" role="button" :title="$t('afficherResultats')" @click="afficherResultats" v-else-if="(type === 'Sondage' || type === 'Questionnaire' && donnees.options.progression === 'animateur') && !resultats"><i class="material-icons">visibility</i></span>
					<span class="bouton icone" role="button" :title="$t('trierResultats')" @click="classerResultats(true)" v-if="type === 'Sondage' && resultats && !classementResultats"><i class="material-icons">equalizer</i></span>
					<span class="bouton icone masque" role="button" :title="$t('masquerResultatsTries')" @click="classerResultats(false)" v-else-if="type === 'Sondage' && resultats && classementResultats"><i class="material-icons">equalizer</i></span>
					<span class="bouton icone verrouille" role="button" :title="$t('deverrouillerInteraction')" @click="deverrouiller" v-if="type !== 'Questionnaire' && statut === 'verrouille'"><i class="material-icons">lock_open</i></span>
					<span class="bouton icone" role="button" :title="$t('verrouillerInteraction')" @click="verrouiller" v-else-if="type !== 'Questionnaire' && statut !== 'verrouille'"><i class="material-icons">lock</i></span>
					<span class="bouton icone" role="button" :title="$t('afficherClassement')" @click="afficherClassement" v-if="type === 'Questionnaire' && donnees.options.progression === 'animateur' && donnees.options.nom === 'obligatoire' && donnees.options.classement === false && classement.length > 0"><i class="material-icons">emoji_events</i></span>
					<span class="bouton" role="button" @click="quitter">{{ $t('quitter') }}</span>
				</div>
			</footer>
		</div>

		<chargement :chargement="chargement" v-if="chargement" />

		<div class="conteneur-modale" v-if="modale === 'titre'">
			<div id="modale-titre" class="modale">
				<header>
					<span class="titre">{{ $t('modifierTitre') }}</span>
					<span class="fermer" role="button" @click="fermerModale"><i class="material-icons">close</i></span>
				</header>
				<div class="conteneur">
					<div class="contenu">
						<label>{{ $t('titre') }}</label>
						<input type="text" :value="titre">
						<div class="actions">
							<span class="bouton" role="button" tabindex="0" @click="modifierTitre">{{ $t('valider') }}</span>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="conteneur-modale" v-else-if="modale === 'lien'">
			<div id="modale-lien" class="modale">
				<div class="conteneur">
					<div class="contenu">
						<p>digistorm.app/p/<br v-if="largeur < 600">{{ code }}</p>
						<div class="actions">
							<span class="bouton" role="button" tabindex="0" @click="fermerModale">{{ $t('fermer') }}</span>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="conteneur-modale" v-else-if="modale === 'parametres'">
			<div id="modale-parametres" class="modale">
				<header>
					<span class="titre">{{ $t('parametresLangue') }}</span>
					<span class="fermer" role="button" @click="fermerModale"><i class="material-icons">close</i></span>
				</header>
				<div class="conteneur">
					<div class="contenu">
						<label>{{ $t('langue') }}</label>
						<div class="langue">
							<span role="button" :class="{'selectionne': langue === 'fr'}" @click="modifierLangue('fr')">FR</span>
							<span role="button" :class="{'selectionne': langue === 'en'}" @click="modifierLangue('en')">EN</span>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="conteneur-modale" v-else-if="modale === 'resultats'">
			<div id="modale-resultats" class="modale">
				<header>
					<span class="titre">{{ $t('exporterResultats') }}</span>
					<span class="fermer" role="button" @click="fermerModale"><i class="material-icons">close</i></span>
				</header>
				<div class="conteneur">
					<div class="contenu">
						<template v-for="(resultatsSession, numeroResultatsSession, indexResultatsSession) in reponses">
							<div class="resultat" v-if="resultatsSession.length > 0" :key="'session_' + indexResultatsSession">
								<span class="session">{{ $t('sessionDu') }} {{ $formaterDate(sessions[numeroResultatsSession].debut, langue) }}</span>
								<span class="actions">
									<i class="material-icons" role="button" @click="exporterResultat(numeroResultatsSession)">get_app</i>
									<i class="material-icons supprimer" role="button" @click="afficherModaleConfirmation(numeroResultatsSession)">delete</i>
								</span>
							</div>
						</template>
					</div>
				</div>
			</div>
		</div>

		<div class="conteneur-modale" v-else-if="modale === 'utilisateurs'">
			<div id="modale-utilisateurs" class="modale">
				<header>
					<span class="titre">{{ $t('listeParticipants') }}</span>
					<span class="fermer" role="button" @click="fermerModale"><i class="material-icons">close</i></span>
				</header>
				<div class="conteneur">
					<div class="contenu">
						<div class="utilisateurs-connectes">
							<template v-for="(utilisateur, indexUtilisateur) in utilisateurs">
								<div class="utilisateur" v-if="utilisateur.connecte === true" :key="'utilisateur_' + indexUtilisateur">
									<span>{{ utilisateur.nom }}</span>
								</div>
							</template>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="conteneur-modale" v-else-if="modale === 'classement'">
			<div id="modale-classement" class="modale">
				<header>
					<span class="titre">{{ $t('classement') }}</span>
					<span class="fermer" role="button" @click="fermerModale"><i class="material-icons">close</i></span>
				</header>
				<div class="conteneur">
					<div class="contenu">
						<ul class="classement">
							<li v-for="(utilisateur, index) in classement" :key="'utilisateur_' + index">
								<div class="utilisateur">
									<span class="index">{{ index + 1 }}</span>
									<span class="nom">{{ utilisateur.nom }}</span>
								</div>
								<div class="score">{{ utilisateur.score }}</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<div class="conteneur-modale" v-else-if="modale === 'classement-collectif'">
			<div id="modale-classement" class="modale avec-footer">
				<header>
					<span class="titre">{{ $t('classement') }}</span>
					<span class="fermer" role="button" @click="fermerModale"><i class="material-icons">close</i></span>
				</header>
				<div class="conteneur">
					<div class="contenu">
						<ul class="classement">
							<li v-for="(utilisateur, index) in classement" :key="'utilisateur_' + index">
								<div class="utilisateur">
									<span class="index">{{ index + 1 }}</span>
									<span class="nom">{{ utilisateur.nom }}</span>
								</div>
								<div class="score">{{ utilisateur.score }}</div>
							</li>
						</ul>
					</div>
				</div>
				<footer>
					<span class="bouton" role="button" tabindex="0" @click="modifierIndexQuestion(indexQuestion + 1)" v-if="indexQuestion < (donnees.questions.length - 1)">{{ $t('suivant') }}</span>
					<span class="bouton" role="button" tabindex="0" @click="fermerModale" v-else>{{ $t('fermer') }}</span>
				</footer>
			</div>
		</div>

		<div class="conteneur-modale" v-if="modaleConfirmation">
			<div id="modale-confirmation" class="modale">
				<div class="conteneur">
					<div class="contenu">
						<p v-html="$t('confirmationSupprimerResultats')" />
						<div class="actions">
							<span class="bouton" role="button" tabindex="0" @click="fermerModaleConfirmation">{{ $t('non') }}</span>
							<span class="bouton" role="button" tabindex="0" @click="supprimerResultat">{{ $t('oui') }}</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
import axios from 'axios'
import ClipboardJS from 'clipboard'
import { saveAs } from 'file-saver'
import chargement from '@/components/chargement.vue'
import sondageCreer from '@/components/sondageCreer.vue'
import remueMeningesCreer from '@/components/remueMeningesCreer.vue'
import questionnaireCreer from '@/components/questionnaireCreer.vue'
import sondageAfficher from '@/components/sondageAfficher.vue'
import remueMeningesAfficher from '@/components/remueMeningesAfficher.vue'
import questionnaireAfficher from '@/components/questionnaireAfficher.vue'

export default {
	name: 'Creer',
	components: {
		chargement,
		sondageCreer,
		remueMeningesCreer,
		questionnaireCreer,
		sondageAfficher,
		remueMeningesAfficher,
		questionnaireAfficher
	},
	sockets: {
		connexion: function (donnees) {
			const utilisateurs = donnees.filter(function (utilisateur) {
				return utilisateur.identifiant !== this.identifiant
			}.bind(this))
			utilisateurs.forEach(function (utilisateur) {
				utilisateur.connecte = true
			})
			this.utilisateurs = utilisateurs
		},
		deconnexion: function (identifiant) {
			const utilisateurs = this.utilisateurs
			utilisateurs.forEach(function (utilisateur, index) {
				if (utilisateur.identifiant === identifiant) {
					utilisateurs.splice(index, 1, { identifiant: utilisateur.identifiant, nom: utilisateur.nom, connecte: false })
				}
			})
			this.utilisateurs = utilisateurs
		},
		reponse: function (reponse) {
			if (reponse.code === this.code && reponse.session === this.session) {
				if (this.type !== 'Questionnaire') {
					this.reponsesSession.push(reponse.donnees)
				} else {
					if (this.reponsesSession.map(function (e) { return e.identifiant }).includes(reponse.donnees.identifiant) === true) {
						this.reponsesSession.forEach(function (item) {
							if (item.identifiant === reponse.donnees.identifiant) {
								item.reponse = reponse.donnees.reponse
								item.score = reponse.donnees.score
							}
						})
					} else {
						this.reponsesSession.push(reponse.donnees)
					}
				}
			}
		},
		reponses: function (donnees) {
			if (donnees.code === this.code && donnees.session === this.session) {
				this.reponsesSession = donnees.reponses
			}
		},
		nom: function (donnees) {
			const utilisateurs = this.utilisateurs
			utilisateurs.forEach(function (utilisateur, index) {
				if (utilisateur.identifiant === donnees.identifiant) {
					utilisateurs.splice(index, 1, { identifiant: donnees.identifiant, nom: donnees.nom })
				}
			})
			this.utilisateurs = utilisateurs
		}
	},
	watchQuery: ['page'],
	async asyncData (context) {
		const code = context.route.params.code
		const { data } = await axios.post(context.store.state.hote + '/api/recuperer-donnees-interaction', {
			code: code
		}, {
			headers: { 'Content-Type': 'application/json' }
		})
		if (data === 'erreur') {
			context.redirect('/')
		} else {
			return {
				code: code,
				type: data.type,
				titre: data.titre,
				motdepasse: data.motdepasse,
				donnees: data.donnees,
				reponses: data.reponses,
				sessions: data.sessions,
				statut: data.statut,
				session: data.session
			}
		}
	},
	data () {
		return {
			chargement: false,
			modale: '',
			visible: true,
			enregistrement: '',
			utilisateurs: [],
			resultats: true,
			classementResultats: false,
			reponsesSession: [],
			largeur: 0,
			modaleConfirmation: false,
			numeroSession: 0,
			indexQuestion: -1
		}
	},
	computed: {
		hote () {
			return this.$store.state.hote
		},
		identifiant () {
			return this.$store.state.identifiant
		},
		nom () {
			return this.$store.state.nom
		},
		langue () {
			return this.$store.state.langue
		},
		utilisateursConnectes () {
			const utilisateurs = []
			this.utilisateurs.forEach(function (utilisateur) {
				if (utilisateur.connecte) {
					utilisateurs.push(utilisateur)
				}
			})
			return utilisateurs
		},
		classement () {
			const classement = []
			if (this.type === 'Questionnaire') {
				this.reponsesSession.forEach(function (item) {
					let scoreTotal = 0
					item.score.forEach(function (score) {
						scoreTotal = scoreTotal + score
					})
					classement.push({ identifiant: item.identifiant, score: scoreTotal })
				})
				classement.forEach(function (utilisateur) {
					this.utilisateurs.forEach(function (u) {
						if (u.identifiant === utilisateur.identifiant) {
							utilisateur.nom = u.nom
						}
					})
				}.bind(this))
				Object.keys(classement).sort(function (a, b) {
					return classement[b].score - classement[a].score
				})
			}
			return classement
		}
	},
	created () {
		this.$nuxt.$loading.start()
		this.$socket.emit('connexion', { code: this.code, identifiant: this.identifiant, nom: this.nom })
		if (this.reponses[this.session]) {
			this.reponsesSession = this.reponses[this.session]
		}
		if (this.type === 'Questionnaire') {
			this.indexQuestion = parseInt(this.donnees.indexQuestion)
		}
		this.$i18n.setLocale(this.langue)
	},
	mounted () {
		setTimeout(function () {
			this.$nuxt.$loading.finish()
			/* eslint-disable no-new */
			const lien = this.hote + '/p/' + this.code
			const clipboard = new ClipboardJS('#copier', {
				text: function () {
					return lien
				}
			})
			clipboard.on('success', function () {
				this.$store.dispatch('modifierNotification', this.$t('lienCopie'))
			}.bind(this))
			this.verifierLargeur()
			window.addEventListener('resize', this.verifierLargeur, false)
		}.bind(this), 100)
	},
	beforeDestroy () {
		window.removeEventListener('resize', this.verifierLargeur, false)
	},
	methods: {
		afficherModaleLien () {
			this.modale = 'lien'
		},
		fermerModale () {
			this.modale = ''
		},
		afficherModaleTitre () {
			this.modale = 'titre'
			this.$nextTick(function () {
				document.querySelector('#modale-titre input').focus()
			})
		},
		modifierTitre () {
			const titre = document.querySelector('#modale-titre input').value
			if (titre !== '') {
				this.titre = titre
				this.fermerModale()
			}
		},
		afficherModaleParametres () {
			this.modale = 'parametres'
		},
		afficherModaleUtilisateurs () {
			this.modale = 'utilisateurs'
		},
		modifierLangue (langue) {
			if (this.langue !== langue) {
				this.chargement = true
				axios.post(this.hote + '/api/modifier-langue', {
					identifiant: this.identifiant,
					langue: langue
				}).then(function () {
					this.$i18n.setLocale(langue)
					this.$store.dispatch('modifierLangue', langue)
					this.$store.dispatch('modifierNotification', this.$t('langueModifiee'))
					this.chargement = false
				}.bind(this)).catch(function () {
					this.chargement = false
					this.$store.dispatch('modifierMessage', this.$t('erreurCommunicationServeur'))
				}.bind(this))
			}
		},
		telecharger () {
			this.chargement = true
			axios.post(this.hote + '/api/telecharger-informations-interaction', {
				identifiant: this.identifiant,
				code: this.code,
				motdepasse: this.motdepasse,
				type: this.type,
				titre: this.titre
			}).then(function (reponse) {
				this.chargement = false
				const donnees = reponse.data
				if (donnees === 'non_autorise') {
					this.$store.dispatch('modifierMessage', this.$t('actionNonAutorisee'))
				} else {
					const fichier = this.code + '.pdf'
					saveAs('/fichiers/' + this.code + '/' + donnees, fichier)
					setTimeout(function () {
						axios.post(this.hote + '/api/supprimer-informations-interaction', {
							code: this.code,
							fichier: donnees
						})
					}.bind(this), 5000)
				}
			}.bind(this)).catch(function () {
				this.chargement = false
				this.$store.dispatch('modifierMessage', this.$t('erreurCommunicationServeur'))
			}.bind(this))
		},
		enregistrer (type) {
			this.enregistrement = type
		},
		enregistrerDonnees (donneesInteraction) {
			this.chargement = true
			axios.post(this.hote + '/api/modifier-interaction', {
				identifiant: this.identifiant,
				code: this.code,
				titre: this.titre,
				donnees: donneesInteraction
			}).then(function (reponse) {
				const donnees = reponse.data
				if (donnees === 'erreur') {
					this.chargement = false
					this.$store.dispatch('modifierMessage', this.$t('erreurCommunicationServeur'))
				} else if (donnees === 'erreur_code') {
					this.chargement = false
					this.$store.dispatch('modifierMessage', this.$t('codeNonValide'))
				} else if (donnees === 'non_autorise') {
					this.chargement = false
					if (this.type === 'Sondage') {
						this.$store.dispatch('modifierMessage', this.$t('pasAutoriseModifierSondage'))
					} else if (this.type === 'Remue-méninges') {
						this.$store.dispatch('modifierMessage', this.$t('pasAutoriseModifierRemueMeninges'))
					} else if (this.type === 'Questionnaire') {
						this.$store.dispatch('modifierMessage', this.$t('pasAutoriseModifierQuestionnaire'))
					}
				} else if (donnees === 'donnees_enregistrees') {
					this.donnees = donneesInteraction
					if (this.enregistrement === 'enregistrement') {
						this.chargement = false
						if (this.type === 'Sondage') {
							this.$store.dispatch('modifierNotification', this.$t('sondageEnregistre'))
						} else if (this.type === 'Remue-méninges') {
							this.$store.dispatch('modifierNotification', this.$t('remueMeningesEnregistre'))
						} else if (this.type === 'Questionnaire') {
							this.$store.dispatch('modifierNotification', this.$t('questionnaireEnregistre'))
						}
					} else if (this.enregistrement === 'lancement') {
						this.lancer()
					}
					this.enregistrement = 'termine'
				}
			}.bind(this)).catch(function () {
				this.chargement = false
				this.enregistrement = ''
				this.$store.dispatch('modifierMessage', this.$t('erreurCommunicationServeur'))
			}.bind(this))
		},
		verifierDonnees (donnees) {
			if (this.type === 'Sondage') {
				let donneesQuestion = false
				let donneesSupport = false
				let donneesItems = false
				let items = 0
				const itemsTexte = []
				if (donnees.question !== '') {
					donneesQuestion = true
				}
				if (Object.keys(donnees.support).length > 0) {
					donneesSupport = true
				}
				donnees.items.forEach(function (item) {
					if (item.texte !== '' || item.image !== '') {
						items++
					}
					if (item.texte !== '') {
						itemsTexte.push(item.texte)
					}
				})
				if ((new Set(itemsTexte)).size !== itemsTexte.length) {
					return 'doublons-texte'
				}
				if (items > 1) {
					donneesItems = true
				}
				if ((donneesQuestion || donneesSupport) && donneesItems) {
					return true
				} else {
					return false
				}
			} else if (this.type === 'Remue-méninges') {
				let donneesQuestion = false
				let donneesSupport = false
				const categories = []
				if (donnees.question !== '') {
					donneesQuestion = true
				}
				if (Object.keys(donnees.support).length > 0) {
					donneesSupport = true
				}
				donnees.categories.forEach(function (categorie) {
					if (categorie.texte !== '') {
						categories.push(categorie.texte)
					} else if (categorie.image !== '') {
						categories.push(categorie.image)
					}
				})
				if ((new Set(categories)).size !== categories.length) {
					return 'doublons-categorie'
				}
				if (donneesQuestion || donneesSupport) {
					return true
				} else {
					return false
				}
			} else if (this.type === 'Questionnaire') {
				let donneesQuestions = true
				for (let i = 0; i < donnees.questions.length; i++) {
					let donneesQuestion = false
					let donneesSupport = false
					let items = 0
					let reponses = 0
					const itemsTexte = []
					if (donnees.questions[i].question !== '') {
						donneesQuestion = true
					}
					if (Object.keys(donnees.questions[i].support).length > 0) {
						donneesSupport = true
					}
					if (!donneesQuestion && !donneesSupport) {
						donneesQuestions = { erreur: 'aucune-question', index: i }
						break
					}
					donnees.questions[i].items.forEach(function (item) {
						if (item.texte !== '' || item.image !== '') {
							items++
						}
						if (item.texte !== '') {
							itemsTexte.push(item.texte)
						}
						if (item.reponse) {
							reponses++
						}
					})
					if ((new Set(itemsTexte)).size !== itemsTexte.length) {
						donneesQuestions = { erreur: 'doublons-texte', index: i }
						break
					}
					if (items < 2) {
						donneesQuestions = { erreur: 'aucun-item', index: i }
						break
					}
					if (reponses === 0) {
						donneesQuestions = { erreur: 'aucune-reponse', index: i }
						break
					}
				}
				return donneesQuestions
			}
		},
		lancer () {
			const verificationDonnees = this.verifierDonnees(this.donnees)
			if (Object.keys(this.donnees).length > 0 && verificationDonnees === true) {
				let statut = 'ouvert'
				if (this.type === 'Questionnaire' && this.donnees.options.progression === 'animateur') {
					statut = 'attente'
				}
				axios.post(this.hote + '/api/modifier-statut-interaction', {
					identifiant: this.identifiant,
					code: this.code,
					statut: statut
				}).then(function (reponse) {
					this.chargement = false
					this.enregistrement = ''
					const donnees = reponse.data
					if (donnees === 'erreur') {
						this.$store.dispatch('modifierMessage', this.$t('erreurCommunicationServeur'))
					} else if (donnees === 'erreur_code') {
						this.$store.dispatch('modifierMessage', this.$t('codeNonValide'))
					} else if (donnees === 'non_autorise') {
						this.$store.dispatch('modifierMessage', this.$t('actionNonAutorisee'))
					} else if (donnees === 'statut_modifie') {
						this.statut = statut
						if (this.type === 'Sondage') {
							this.$store.dispatch('modifierNotification', this.$t('sondageOuvert'))
						} else if (this.type === 'Remue-méninges') {
							this.$store.dispatch('modifierNotification', this.$t('remueMeningesOuvert'))
						} else if (this.type === 'Questionnaire' && this.donnees.options.progression === 'libre') {
							this.$store.dispatch('modifierNotification', this.$t('questionnaireOuvert'))
						} else if (this.type === 'Questionnaire' && this.donnees.options.progression === 'animateur') {
							this.$store.dispatch('modifierNotification', this.$t('questionnaireEnAttente'))
						}
						if (this.type === 'Questionnaire' && this.donnees.options.progression === 'animateur') {
							this.indexQuestion = this.donnees.copieIndexQuestion
							this.$socket.emit('interactionenattente', this.donnees)
						} else {
							this.$socket.emit('interactionouverte', { code: this.code, session: this.session, titre: this.titre, donnees: this.donnees })
						}
					}
				}.bind(this)).catch(function () {
					this.chargement = false
					this.enregistrement = ''
					this.$store.dispatch('modifierMessage', this.$t('erreurCommunicationServeur'))
				}.bind(this))
			} else {
				this.chargement = false
				if (this.type === 'Sondage' || this.type === 'Remue-méninges') {
					if (Object.keys(this.donnees).length === 0) {
						if (this.type === 'Sondage') {
							this.$store.dispatch('modifierMessage', this.$t('sondageSansContenu'))
						} else if (this.type === 'Remue-méninges') {
							this.$store.dispatch('modifierMessage', this.$t('remueMeningesSansContenu'))
						}
					} else if (this.donnees.question === '' && Object.keys(this.donnees.support).length === 0) {
						if (this.type === 'Sondage') {
							this.$store.dispatch('modifierMessage', this.$t('sondageSansQuestion'))
						} else if (this.type === 'Remue-méninges') {
							this.$store.dispatch('modifierMessage', this.$t('remueMeningesSansQuestion'))
						}
					} else if (verificationDonnees === 'doublons-texte') {
						this.$store.dispatch('modifierMessage', this.$t('sondageDoublons'))
					} else if (verificationDonnees === 'doublons-categorie') {
						this.$store.dispatch('modifierMessage', this.$t('remueMeningesDoublons'))
					} else {
						this.$store.dispatch('modifierMessage', this.$t('sondageSansReponse'))
					}
				} else {
					if (Object.keys(this.donnees).length === 0) {
						this.$store.dispatch('modifierMessage', this.$t('questionnaireSansContenu'))
					} else if (verificationDonnees.erreur === 'doublons-texte') {
						this.$store.dispatch('modifierMessage', this.$t('questionnaireDoublons', { question: verificationDonnees.index + 1 }))
					} else if (verificationDonnees.erreur === 'aucune-question') {
						this.$store.dispatch('modifierMessage', this.$t('questionnaireSansQuestion', { question: verificationDonnees.index + 1 }))
					} else if (verificationDonnees.erreur === 'aucun-item') {
						this.$store.dispatch('modifierMessage', this.$t('questionnaireSansReponse', { question: verificationDonnees.index + 1 }))
					} else if (verificationDonnees.erreur === 'aucune-reponse') {
						this.$store.dispatch('modifierMessage', this.$t('questionnaireSansBonneReponse', { question: verificationDonnees.index + 1 }))
					}
				}
			}
		},
		demarrer () {
			this.chargement = true
			axios.post(this.hote + '/api/modifier-statut-interaction', {
				identifiant: this.identifiant,
				code: this.code,
				statut: 'ouvert'
			}).then(function (reponse) {
				this.chargement = false
				const donnees = reponse.data
				if (donnees === 'erreur') {
					this.$store.dispatch('modifierMessage', this.$t('erreurCommunicationServeur'))
				} else if (donnees === 'erreur_code') {
					this.$store.dispatch('modifierMessage', this.$t('codeNonValide'))
				} else if (donnees === 'non_autorise') {
					this.$store.dispatch('modifierMessage', this.$t('actionNonAutorisee'))
				} else if (donnees === 'statut_modifie') {
					const date = new Date().getTime()
					this.statut = 'ouvert'
					this.$store.dispatch('modifierNotification', this.$t('questionnaireOuvert'))
					this.$socket.emit('interactionouverte', { code: this.code, session: this.session, titre: this.titre, donnees: this.donnees, date: date })
				}
			}.bind(this)).catch(function () {
				this.chargement = false
				this.$store.dispatch('modifierMessage', this.$t('erreurCommunicationServeur'))
			}.bind(this))
		},
		modifierIndexQuestion (indexQuestion) {
			if (this.modale === 'classement-collectif') {
				this.modale = ''
			}
			this.chargement = true
			axios.post(this.hote + '/api/modifier-index-question', {
				identifiant: this.identifiant,
				code: this.code,
				indexQuestion: indexQuestion
			}).then(function (reponse) {
				this.chargement = false
				const donnees = reponse.data
				if (donnees === 'erreur') {
					this.$store.dispatch('modifierMessage', this.$t('erreurCommunicationServeur'))
				} else if (donnees === 'erreur_code') {
					this.$store.dispatch('modifierMessage', this.$t('codeNonValide'))
				} else if (donnees === 'non_autorise') {
					this.$store.dispatch('modifierMessage', this.$t('actionNonAutorisee'))
				} else if (donnees === 'index_modifie') {
					this.indexQuestion = indexQuestion
					const date = new Date().getTime()
					this.$socket.emit('questionsuivante', { date: date, index: indexQuestion })
				}
			}.bind(this)).catch(function () {
				this.chargement = false
				this.$store.dispatch('modifierMessage', this.$t('erreurCommunicationServeur'))
			}.bind(this))
		},
		afficherClassement () {
			this.modale = 'classement'
		},
		afficherClassementCollectif () {
			this.modale = 'classement-collectif'
			this.$socket.emit('classement', this.classement)
		},
		afficherResultats () {
			this.resultats = true
			this.$store.dispatch('modifierNotification', this.$t('resultatsAffiches'))
		},
		masquerResultats () {
			this.resultats = false
			this.classementResultats = false
			this.$store.dispatch('modifierNotification', this.$t('resultatsMasques'))
		},
		classerResultats (bool) {
			this.classementResultats = bool
			if (bool === true) {
				this.$store.dispatch('modifierNotification', this.$t('resultatsTries'))
			} else {
				this.$store.dispatch('modifierNotification', this.$t('resultatsNonTries'))
			}
		},
		verrouiller () {
			this.chargement = true
			const statut = 'verrouille'
			axios.post(this.hote + '/api/modifier-statut-interaction', {
				identifiant: this.identifiant,
				code: this.code,
				statut: statut
			}).then(function (reponse) {
				this.chargement = false
				const donnees = reponse.data
				if (donnees === 'erreur') {
					this.$store.dispatch('modifierMessage', this.$t('erreurCommunicationServeur'))
				} else if (donnees === 'erreur_code') {
					this.$store.dispatch('modifierMessage', this.$t('codeNonValide'))
				} else if (donnees === 'non_autorise') {
					this.$store.dispatch('modifierMessage', this.$t('actionNonAutorisee'))
				} else if (donnees === 'statut_modifie') {
					this.statut = statut
					if (this.type === 'Sondage') {
						this.$store.dispatch('modifierNotification', this.$t('sondageVerrouille'))
					} else if (this.type === 'Remue-méninges') {
						this.$store.dispatch('modifierNotification', this.$t('remueMeningesVerrouille'))
					}
					this.$socket.emit('interactionverrouillee')
				}
			}.bind(this)).catch(function () {
				this.chargement = false
				this.$store.dispatch('modifierMessage', this.$t('erreurCommunicationServeur'))
			}.bind(this))
		},
		deverrouiller () {
			this.chargement = true
			const statut = 'ouvert'
			axios.post(this.hote + '/api/modifier-statut-interaction', {
				identifiant: this.identifiant,
				code: this.code,
				statut: statut
			}).then(function (reponse) {
				this.chargement = false
				const donnees = reponse.data
				if (donnees === 'erreur') {
					this.$store.dispatch('modifierMessage', this.$t('erreurCommunicationServeur'))
				} else if (donnees === 'erreur_code') {
					this.$store.dispatch('modifierMessage', this.$t('codeNonValide'))
				} else if (donnees === 'non_autorise') {
					this.$store.dispatch('modifierMessage', this.$t('actionNonAutorisee'))
				} else if (donnees === 'statut_modifie') {
					this.statut = statut
					if (this.type === 'Sondage') {
						this.$store.dispatch('modifierNotification', this.$t('sondageDeverrouille'))
					} else if (this.type === 'Remue-méninges') {
						this.$store.dispatch('modifierNotification', this.$t('remueMeningesDeverrouille'))
					}
					this.$socket.emit('interactiondeverrouillee')
				}
			}.bind(this)).catch(function () {
				this.chargement = false
				this.$store.dispatch('modifierMessage', this.$t('erreurCommunicationServeur'))
			}.bind(this))
		},
		quitter () {
			this.chargement = true
			axios.post(this.hote + '/api/fermer-interaction', {
				identifiant: this.identifiant,
				code: this.code,
				classement: this.classement
			}).then(function (reponse) {
				this.chargement = false
				const donnees = reponse.data
				if (donnees === 'erreur') {
					this.$store.dispatch('modifierMessage', this.$t('erreurCommunicationServeur'))
				} else if (donnees === 'erreur_code') {
					this.$store.dispatch('modifierMessage', this.$t('codeNonValide'))
				} else if (donnees === 'non_autorise') {
					if (this.type === 'Sondage') {
						this.$store.dispatch('modifierMessage', this.$t('pasAutoriseModifierSondage'))
					} else if (this.type === 'Remue-méninges') {
						this.$store.dispatch('modifierMessage', this.$t('pasAutoriseModifierRemueMeninges'))
					} else if (this.type === 'Questionnaire') {
						this.$store.dispatch('modifierMessage', this.$t('pasAutoriseModifierQuestionnaire'))
					}
				} else {
					this.statut = 'termine'
					this.reponsesSession = []
					this.session = donnees.session
					this.reponses = donnees.reponses
					this.sessions = donnees.sessions
					if (this.type === 'Sondage') {
						this.$store.dispatch('modifierNotification', this.$t('sondageFerme'))
					} else if (this.type === 'Remue-méninges') {
						this.$store.dispatch('modifierNotification', this.$t('remueMeningesFerme'))
					} else if (this.type === 'Questionnaire') {
						this.$store.dispatch('modifierNotification', this.$t('questionnaireFerme'))
					}
					this.$socket.emit('interactionfermee')
				}
			}.bind(this)).catch(function () {
				this.chargement = false
				this.$store.dispatch('modifierMessage', this.$t('erreurCommunicationServeur'))
			}.bind(this))
		},
		afficherModaleResultats () {
			this.modale = 'resultats'
		},
		exporterResultat (session) {
			this.modale = ''
			this.chargement = true
			let classement = []
			if (this.type === 'Questionnaire') {
				classement = this.sessions[session].classement
			}
			const date = this.$formaterDate(this.sessions[session].debut, this.langue)
			axios.post(this.hote + '/api/exporter-resultat', {
				identifiant: this.identifiant,
				code: this.code,
				type: this.type,
				titre: this.titre,
				donnees: this.sessions[session].donnees,
				reponses: this.reponses[session],
				classement: classement,
				date: date
			}).then(function (reponse) {
				this.chargement = false
				const donnees = reponse.data
				if (donnees === 'erreur') {
					this.$store.dispatch('modifierMessage', this.$t('erreurCommunicationServeur'))
				} else if (donnees === 'erreur_code') {
					this.$store.dispatch('modifierMessage', this.$t('codeNonValide'))
				} else if (donnees === 'non_autorise') {
					this.$store.dispatch('modifierMessage', this.$t('actionNonAutorisee'))
				} else if (donnees === 'resultat_exporte') {
					const fichier = this.code + '_' + session + '.pdf'
					saveAs('/fichiers/' + this.code + '/resultats.pdf?v=' + new Date().getTime(), fichier)
				}
			}.bind(this)).catch(function () {
				this.chargement = false
				this.$store.dispatch('modifierMessage', this.$t('erreurCommunicationServeur'))
			}.bind(this))
		},
		afficherModaleConfirmation (session) {
			this.modaleConfirmation = true
			this.numeroSession = session
		},
		fermerModaleConfirmation () {
			this.modaleConfirmation = false
			this.numeroSession = 0
		},
		supprimerResultat () {
			this.modaleConfirmation = false
			this.chargement = true
			axios.post(this.hote + '/api/supprimer-resultat', {
				identifiant: this.identifiant,
				code: this.code,
				session: this.numeroSession
			}).then(function (reponse) {
				this.chargement = false
				const donnees = reponse.data
				if (donnees === 'erreur') {
					this.$store.dispatch('modifierMessage', this.$t('erreurCommunicationServeur'))
				} else if (donnees === 'erreur_code') {
					this.$store.dispatch('modifierMessage', this.$t('codeNonValide'))
				} else if (donnees === 'non_autorise') {
					this.$store.dispatch('modifierMessage', this.$t('actionNonAutorisee'))
				} else {
					this.reponses = donnees.reponses
					this.sessions = donnees.sessions
					this.numeroSession = 0
					this.$store.dispatch('modifierNotification', this.$t('resultatsSupprimes'))
					if (Object.keys(this.reponses).length === 0) {
						this.fermerModale()
					}
				}
			}.bind(this)).catch(function () {
				this.chargement = false
				this.$store.dispatch('modifierMessage', this.$t('erreurCommunicationServeur'))
			}.bind(this))
		},
		verifierLargeur () {
			this.largeur = window.innerWidth
		}
	},
	head () {
		return {
			title: this.titre + ' - Digistorm by La Digitale'
		}
	}
}
</script>

<style scoped>
#titre.edition {
	width: calc(100% - 88px)!important;
	cursor: pointer;
}

#parametres {
	font-size: 24px;
	line-height: 40px;
	margin-left: 20px;
	cursor: pointer;
}

#titre span.code,
#titre span.titre {
	display: inline-block;
	max-width: calc(100% - 23px);
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#titre span.code {
	text-transform: lowercase;
	cursor: pointer;
}

#titre span.modifier {
	display: inline-block;
	margin-left: 5px;
	visibility: hidden;
}

#titre:hover span.modifier {
	visibility: visible;
}

#titre span#copier {
	display: inline-block;
	font-size: 24px;
	margin-left: 10px;
	cursor: pointer;
}

.informations {
	display: flex;
	flex-wrap: wrap;
	font-weight: 700;
	border: 2px solid #242f3d;
	border-radius: 1em;
	background: #e3e9f0;
	padding: 15px 20px;
}

.informations .code {
	width: 50%;
}

.informations .code .information {
	font-family: 'Roboto Slab';
	font-size: 23px;
	line-height: 1;
	user-select: text!important;
}

.informations .motdepasse {
	width: 50%;
}

.informations .motdepasse .information {
	font-family: 'Roboto Slab';
	font-size: 20px;
	line-height: 1;
	user-select: text!important;
}

.informations .icone {
	display: inline-block;
	font-size: 24px;
	font-weight: 400;
	margin-left: 10px;
	line-height: 1;
	cursor: pointer;
}

.telecharger {
	display: flex;
	justify-content: flex-end;
	font-size: 14px;
	font-weight: 400;
	color: #00ced1;
	margin-top: 7px;
	cursor: pointer;
}

#conteneur.interaction-ouverte {
	overflow: hidden!important;
}

#copier:active {
	opacity: 0.7;
}

#interaction footer .section {
	justify-content: space-between;
}

#interaction footer .gauche .bouton.mobile {
	margin-right: 15px;
}

#interaction footer .droite {
	display: flex;
	justify-content: flex-end;
}

#interaction footer .bouton.mobile i {
	display: none;
	font-size: 24px;
}

#interaction footer .bouton.icone.masque,
#interaction footer .bouton.icone.verrouille {
	color: #ff7b3c;
}

.utilisateurs[role="button"] {
	cursor: pointer;
}

#modale-confirmation,
#modale-lien {
	text-align: center;
	max-width: 500px;
}

#modale-confirmation .conteneur,
#modale-lien .conteneur {
	padding: 30px 25px;
}

#modale-lien p {
	font-family: 'Roboto Slab';
	font-size: 3.7rem;
	font-weight: 400;
	word-break: break-all;
}

#modale-resultats {
	max-width: 500px;
    height: 400px;
    max-height: 90%;
}

#modale-resultats .resultat {
	display: flex;
	justify-content: space-between;
    align-items: center;
	padding: 5px 10px;
    background: #eee;
    border-radius: 4px;
    margin-bottom: 10px;
}

#modale-resultats .session {
	width: calc(100% - 67px);
}

#modale-resultats .actions {
	display: flex;
	margin-left: 11px;
}

#modale-resultats .actions i {
	font-size: 24px;
	margin-left: 4px;
	color: #242f3d;
	cursor: pointer;
}

#modale-resultats .resultat .actions i.supprimer {
	color: #ff6259;
}

#modale-classement.avec-footer {
	max-width: 700px;
	height: 380px;
    max-height: 90%;
}

#modale-classement.avec-footer .conteneur {
    height: calc(100% - 110px);
}

@media screen and (max-width: 359px) {
	.telecharger {
		font-size: 12px;
	}
}

@media screen and (max-width: 479px) {
	#interaction footer .bouton.mobile i {
		display: block;
	}

	#interaction footer .bouton.mobile span {
		display: none;
	}

	#modale-lien p {
		font-size: 3rem;
	}
}

@media screen and (max-width: 599px) {
	.informations .code {
		width: 100%;
		margin-bottom: 5px;
	}

	.informations .motdepasse {
		width: 100%;
	}
}
</style>
